{
  "McpTools": {
    "PG": true,
    "PO": false,
    "VRS": false
  },
  "Cashfree Payment Gateway APIs - 2025-01-01": {
    "base_url": "https://api.cashfree.com/pg",
    "header": {
      "x-client-id": {
        "API_KEY": "YOUR_CLIENT_ID_HERE"
      },
      "x-client-secret": {
        "API_KEY": "YOUR_CLIENT_SECRET_HERE"
      },
      "x-partner-apikey": {
        "API_KEY": "YOUR_PARTNER_API_KEY_HERE"
      },
      "x-client-signature": {
        "API_KEY": "YOUR_CLIENT_SIGNATURE_HERE"
      },
      "x-partner-merchantid": {
        "API_KEY": "YOUR_PARTNER_MERCHANT_ID_HERE"
      }
    }
  },
  "Cashfree Subscription API - v2": {},
  "Cashfree Verification API's. - 2023-12-18": {
    "header": {
      "x-client-id": {
        "API_KEY": "YOUR_VRS_CLIENT_ID_HERE"
      },
      "x-client-secret": {
        "API_KEY": "YOUR_VRS_CLIENT_SECRET_HERE"
      },
      "Authorization": {
        "HTTP": {
          "bearer": "bearer YOUR_BEARER_TOKEN_HERE"
        }
      }
    }
  },
  "Cashfree Payout APIs - 2024-01-01": {
    "header": {
      "x-client-id": {
        "API_KEY": "YOUR_PO_CLIENT_ID_HERE"
      },
      "x-client-secret": {
        "API_KEY": "YOUR_PO_CLIENT_SECRET_HERE"
      }
    }
  },
  "Payouts - 3.0.0": {},
  "PG VBA APIs - 1": {},
  "Global Collections - Partners - 4": {},
  "OpenAPI Plant Store - 1.0.0": {
    "header": {
      "Authorization": {
        "HTTP": {
          "bearer": "bearer YOUR_BEARER_TOKEN_HERE"
        }
      }
    }
  },
  "Bank Account Verification - 1.0.0": {},
  "Add Registered Recharge Account(Whitelist Bank Account) - 1.0.0": {
    "header": {
      "Authorization": {
        "HTTP": {
          "bearer": "bearer YOUR_BEARER_TOKEN_HERE"
        }
      }
    }
  },
  "Payouts - 4": {},
  "Connected Wallet Notional Debit - 1.0.0": {
    "header": {
      "Authorization": {
        "HTTP": {
          "bearer": "bearer YOUR_BEARER_TOKEN_HERE"
        }
      }
    }
  }
  "Internal Transfer API - 1.0.0": {},
  "Merchant Onboarding APIs - 2023-01-01": {},
  "LRS - 4": {},
  "LRS - 5": {},
  "BBPS - 4": {}
}