{
  "openapi": "3.1.0",
  "info": {
    "title": "Payouts",
    "version": "4"
  },
  "servers": [
    {
      "url": "https://payout-api.cashfree.com"
    }
  ],
  "components": {
    "securitySchemes": {}
  },
  "security": [
    {}
  ],
  "paths": {
    "/payout/v1/addBeneficiary": {
      "post": {
        "summary": "Add Beneficiary",
        "description": "Use this API to add a beneficiary to your Cashfree account by providing the bank account number, IFSC, and other required details. Before you request a transfer, ensure the account has been successfully added as a beneficiary.",
        "operationId": "create-beneficiary-11",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer auth token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "beneId",
                  "name",
                  "email",
                  "phone",
                  "address1"
                ],
                "properties": {
                  "beneId": {
                    "type": "string",
                    "description": "Unique Beneficiary ID to identify the beneficiary. Alphanumeric and underscore (_) allowed (50 character limit)"
                  },
                  "name": {
                    "type": "string",
                    "description": "It is the name of the beneficiary. A maximum of 100 characters are allowed. Alphabets, numbers, white spaces ( ), and special characters are allowed."
                  },
                  "email": {
                    "type": "string",
                    "description": "Beneficiaries email, string in email Id format (Ex: johndoe_1@cashfree.com) - should contain @ and dot (.) - (200 character limit)"
                  },
                  "phone": {
                    "type": "string",
                    "description": "Beneficiaries phone number, phone number registered in India (only digits, 8 - 12 characters after stripping +91)"
                  },
                  "bankAccount": {
                    "type": "string",
                    "description": "Beneficiary bank account (9 - 18 alphanumeric character limit)"
                  },
                  "ifsc": {
                    "type": "string",
                    "description": "Accounts IFSC (standard IFSC format) - length 11, first four bank IFSC and 5th digit 0"
                  },
                  "vpa": {
                    "type": "string",
                    "description": "Beneficiary VPA, alphanumeric, dot (.), hyphen (-), at sign (@), and underscore (_) allowed (100 character limit). Note: underscore (_) and dot (.) gets accepted before and after at sign (@), but hyphen (-) get only accepted before at sign (@)"
                  },
                  "address1": {
                    "type": "string",
                    "description": "Beneficiaries address, alphanumeric and space allowed (but script, HTML tags gets sanitized or removed) (150 character limit)"
                  },
                  "address2": {
                    "type": "string",
                    "description": "Beneficiary address, alphanumeric and space allowed (but script, HTML tags gets sanitized or removed) (150 character limit)"
                  },
                  "city": {
                    "type": "string",
                    "description": "Beneficiary city, only alphabets and white space (50 character limit)"
                  },
                  "state": {
                    "type": "string",
                    "description": "Beneficiary state, only alphabets and white space (50 character limit)"
                  },
                  "pincode": {
                    "type": "string",
                    "description": "Beneficiaries pincode, only numbers (6 character limit)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"status\":\"SUCCESS\",\n  \"subCode\":\"200\",\n  \"message\":\"Beneficiary added successfully\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "SUCCESS"
                    },
                    "subCode": {
                      "type": "string",
                      "example": "200"
                    },
                    "message": {
                      "type": "string",
                      "example": "Beneficiary added successfully"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n\"status\": \"ERROR\",\n\"subCode\": \"403\",\n\"message\": \"APIs not enabled. Please fill out the [Support Form](https://merchant.cashfree.com/merchants/landing?env=prod&raise_issue=1)\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "ERROR"
                    },
                    "subCode": {
                      "type": "string",
                      "example": "403"
                    },
                    "message": {
                      "type": "string",
                      "example": "APIs not enabled. Please fill out the [Support Form](https://merchant.cashfree.com/merchants/landing?env=prod&raise_issue=1)"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "409",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"status\":\"ERROR\",\n  \"subCode\":\"409\",\n  \"message\":\"Beneficiary Id already exists\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "ERROR"
                    },
                    "subCode": {
                      "type": "string",
                      "example": "409"
                    },
                    "message": {
                      "type": "string",
                      "example": "Beneficiary Id already exists"
                    }
                  }
                }
              }
            }
          },
          "412": {
            "description": "412",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": "{\n \"status\":\"ERROR\",\n \"subCode\":\"412\",\n \"message\":\"Post data is empty or not a valid JSON\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "ERROR"
                    },
                    "subCode": {
                      "type": "string",
                      "example": "412"
                    },
                    "message": {
                      "type": "string",
                      "example": "Post data is empty or not a valid JSON"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": "{\n \"status\": \"ERROR\",\n \"subCode\": \"422\",\n \"message\": \"Please provide a valid Bank IFSC code.\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "ERROR"
                    },
                    "subCode": {
                      "type": "string",
                      "example": "422"
                    },
                    "message": {
                      "type": "string",
                      "example": "Please provide a valid Bank IFSC code."
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl -X POST \\\n  'http://{{Host%20Url}}/payout/v1/addBeneficiary' \\\n  -H 'Authorization: Bearer {{Token}}' \\\n  -d '{\n  \"beneId\": \"JOHN18011343\",\n  \"name\": \"john doe\",\n  \"email\": \"johndoe@cashfree.com\",\n  \"phone\": \"9876543210\",\n  \"bankAccount\": \"00111122233\",\n  \"ifsc\": \"HDFC0000001\",\n  \"address1\": \"ABC Street\",\n  \"city\": \"Bangalore\",\n  \"state\": \"Karnataka\",\n  \"pincode\": \"560001\"\n}'"
            },
            {
              "language": "text",
              "code": "const cfSdk = require('cashfree-sdk');\nconst {Beneficiary} = cfSdk.Payouts;\n\nconst response = await Beneficiary.Add({\n            \"beneId\": \"JOHN180127\", \n            \"name\": \"john doe\",\n            \"email\": \"johndoe@cashfree.com\", \n            \"phone\": \"9876543210\",\n            \"bankAccount\": \"00011020001773\",  \n            \"address1\" : \"ABC Street\", \n            \"city\": \"Bangalore\", \n            \"state\":\"Karnataka\", \n            \"pincode\": \"560001\"\n        });",
              "name": "Node"
            },
            {
              "language": "java",
              "code": "import com.cashfree.lib.clients.Payouts;\nimport com.cashfree.lib.clients.Payouts;\nimport com.cashfree.lib.clients.Beneficiary;\nimport com.cashfree.lib.domains.BeneficiaryDetails;\n\npublic static void main(){\n\nPayouts payouts = Payouts.getInstance(\n    Environment.PRODUCTION, \"<client_id>\", \"<client_secret>\");\npayouts.init();\nBeneficiary beneficiary = new Beneficiary(payouts);\n\nBeneficiaryDetails beneficiaryDetails = new BeneficiaryDetails()\n        .setBeneId(\"JOHN18012\")\n        .setName(\"john doe\")\n        .setEmail(\"johndoe@cashfree.com\")\n        .setPhone(\"9876543210\")\n        .setBankAccount(\"00001111222233\")\n        .setIfsc(\"HDFC0000001\")\n        .setAddress1(\"ABC Street\")\n        .setCity(\"Bangalore\")\n        .setState(\"Karnataka\")\n        .setPincode(\"560001\");\n\nbeneficiary.addBeneficiary(beneficiaryDetails);\n}"
            },
            {
              "language": "python",
              "code": "from cashfree_sdk.payouts import Payouts\nfrom cashfree_sdk.payouts.beneficiary import Beneficiary\n\nbene_add = Benefeciary.add(beneId=\"JOHN18012\", name=\"john doe\", email=\"johndoe@cashfree.com\", phone=\"9876543210\", address1=\"ABC Street\", bankAccount=\"00001111222233\", ifsc=\"HDFC0000001\")"
            }
          ],
          "samples-languages": [
            "curl",
            "text",
            "java",
            "python"
          ]
        }
      }
    },
    "/payout/v1/getBalance": {
      "get": {
        "summary": "Get Balance",
        "description": "Use this API to get the ledger balance and available balance of your account. Available balance is ledger balance minus the sum of all pending transfers (transfers triggered and processing or pending now).",
        "operationId": "get-balance1",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer auth token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"status\":\"SUCCESS\", \n  \"subCode\":\"200\", \n  \"message\":\"Ledger balance for the account\", \n  \"data\": \n    { \n      \"balance\":\"214735.50\", \n      \"availableBalance\":\"173980.50\"\n    }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "SUCCESS"
                    },
                    "subCode": {
                      "type": "string",
                      "example": "200"
                    },
                    "message": {
                      "type": "string",
                      "example": "Ledger balance for the account"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "balance": {
                          "type": "string",
                          "example": "214735.50"
                        },
                        "availableBalance": {
                          "type": "string",
                          "example": "173980.50"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n\"status\": \"ERROR\",\n\"subCode\": \"403\",\n\"message\": \"APIs not enabled. Please fill out the [Support Form](https://merchant.cashfree.com/merchants/landing?env=prod&raise_issue=1)\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "ERROR"
                    },
                    "subCode": {
                      "type": "string",
                      "example": "403"
                    },
                    "message": {
                      "type": "string",
                      "example": "APIs not enabled. Please fill out the [Support Form](https://merchant.cashfree.com/merchants/landing?env=prod&raise_issue=1)"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl -X GET \\\n  https://{{Host%20Url}}payout/v1/getBalance \\\n  -H 'Authorization: Bearer {{Token}}\\"
            },
            {
              "language": "text",
              "code": "const cfSdk = require('cashfree-sdk');\nconst response = await cfSdk.Payouts.GetBalance();",
              "name": "Node"
            },
            {
              "language": "java",
              "code": "import com.cashfree.lib.clients.Payouts;\n\npublic static void main(){\n\nPayouts payouts = Payouts.getInstance(\n    Environment.PRODUCTION, \"<client_id>\", \"<client_secret>\");\npayouts.init();\npayouts.getBalance();\n\n}\n"
            },
            {
              "language": "python",
              "code": "from cashfree_sdk.payouts.transfers import Transfers\nb = Transfers.get_balance() "
            }
          ],
          "samples-languages": [
            "curl",
            "text",
            "java",
            "python"
          ]
        }
      }
    },
    "/payout/v1/internalTransfer": {
      "post": {
        "summary": "Internal Transfer",
        "description": "Use this API to request an internal transfer at Cashfree. The internal transfer API is useful for multiple Payouts accounts. The API response will either result in an ERROR or SUCCESS response.",
        "operationId": "internal-transfer1",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer auth token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "amount",
                  "rechargeAccount"
                ],
                "properties": {
                  "amount": {
                    "type": "number",
                    "description": "Amount to be transferred. Number (>=1)",
                    "format": "float"
                  },
                  "rechargeAccount": {
                    "type": "string",
                    "description": "Cashfree internal recharge account number. Alphanumeric allowed"
                  },
                  "transferId": {
                    "type": "string",
                    "description": "A unique ID to identify this transfer. Alphanumeric, hyphen and underscore (_) allowed (40 character limit). If the value is not passed, the id will be autogenerated."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{ \n    \"status\": \"SUCCESS\",\n    \"subCode\": \"200\",\n    \"message\": \"RefId-a0302c78d13142b89d85af472961901528/006291823001146-Internal Fund Transfer\"\n    \"data\": {\n        \"transferId\": \"a0302c78d13142b89d85af472961901528\"\n    }\n}"
                  }
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n\"status\": \"ERROR\",\n\"subCode\": \"403\",\n\"message\": \"APIs not enabled. Please fill out the [Support Form](https://merchant.cashfree.com/merchants/landing?env=prod&raise_issue=1)\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "ERROR"
                    },
                    "subCode": {
                      "type": "string",
                      "example": "403"
                    },
                    "message": {
                      "type": "string",
                      "example": "APIs not enabled. Please fill out the [Support Form](https://merchant.cashfree.com/merchants/landing?env=prod&raise_issue=1)"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"status\": \"ERROR\",\n    \"subCode\" \"404\",\n    \"message\" \"Recharge Account not found\"\n}"
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"status\": \"ERROR\",\n    \"message\" \"Account not configured. Please reach out to accoount manager\"\n    \"subCode\" \"422\"\n}"
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl -X POST \\\n  'http://{{Host%20Url}}/payout/v1/internalTransfer' \\\n  -H 'Content-Type: application/json' \\\n  -H 'Authorization: Bearer {{Token}}\\\n  -d '{\n\t\"amount\": 1.1,\n\t\"rechargeAccount\": \"492372992\"\n}'"
            },
            {
              "language": "text",
              "code": "const cfSdk = require('cashfree-sdk');\nconst response = await cfSdk.Payouts.InternalTransfer({\n    amount: 1.1,\n    rechargeAccount: \"492372992\"\n});",
              "name": "Node"
            },
            {
              "language": "java",
              "code": "import com.cashfree.lib.clients.Payouts;\n\npublic static void main(){\n\nPayouts payouts = Payouts.getInstance(\n    Environment.PRODUCTION, \"<client_id>\", \"<client_secret>\");\npayouts.init();\n\npayouts.internalTransfer();\n\n}"
            },
            {
              "language": "python",
              "code": "from cashfree_sdk.payouts.transfers import Transfers\ntransfer = Transfers.internal_transfer(amount=1.1, rechargeAccuont=\"492372992\")"
            }
          ],
          "samples-languages": [
            "curl",
            "text",
            "java",
            "python"
          ]
        }
      }
    },
    "/payout/v1/selfWithdrawal": {
      "post": {
        "summary": "Self Withdrawal",
        "description": "Use this API to request a self withdrawal at Cashfree. Self withdrawal is allowed a maximum of 3 times a day. The API response will either result in an ERROR or SUCCESS response. The status of the withdrawal request is available on the dashboard.",
        "operationId": "self-withdrawal1",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer auth token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "withdrawalId",
                  "amount"
                ],
                "properties": {
                  "withdrawalId": {
                    "type": "string",
                    "description": "Unique identifier for the withdrawal, alphanumeric allowed (50 character limit)"
                  },
                  "amount": {
                    "type": "number",
                    "description": "Amount to be withdrawn, decimal (>= 1.00)",
                    "format": "float"
                  },
                  "remarks": {
                    "type": "string",
                    "description": "Remarks, if any. Alphanumeric and white space (70 character limit)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"status\": \"SUCCESS\",\n  \"message\": \"Request submitted successfully. Withdrawal Id : W55\",\n  \"statusCode\": \"200\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "SUCCESS"
                    },
                    "message": {
                      "type": "string",
                      "example": "Request submitted successfully. Withdrawal Id : W55"
                    },
                    "statusCode": {
                      "type": "string",
                      "example": "200"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n\"status\": \"ERROR\",\n\"subCode\": \"403\",\n\"message\": \"APIs not enabled. Please fill out the [Support Form](https://merchant.cashfree.com/merchants/landing?env=prod&raise_issue=1)\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "ERROR"
                    },
                    "subCode": {
                      "type": "string",
                      "example": "403"
                    },
                    "message": {
                      "type": "string",
                      "example": "APIs not enabled. Please fill out the [Support Form](https://merchant.cashfree.com/merchants/landing?env=prod&raise_issue=1)"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl -X POST \\\n  'http://{{Host%20Url}}/payout/v1/selfWithdrawal' \\\n  -H 'Content-Type: application/json' \\\n  -H 'Authorization: Bearer {{Token}}\\\n  -d '{\n\t\"withdrawlId\": \"1\",\n\t\"amount\": 2\n}'"
            },
            {
              "language": "text",
              "code": "const cfSdk = require('cashfree-sdk');\nconst response = await cfSdk.Payouts.SelfWithdrawal({\n    withdrawalId: \"testWithdrawal1\"\n    amount: \"1.00\"\n});",
              "name": "Node"
            },
            {
              "language": "java",
              "code": "import com.cashfree.lib.clients.Payouts;\n\npublic static void main()\n{\n  Payouts payouts = Payouts.getInstance(\n    Environment.PRODUCTION, \"<client_id>\", \"<client_secret>\");\n  payouts.init();\n  //self withdrawal is under construction\n  payouts.selfWitdrawal();\n}"
            },
            {
              "language": "python",
              "code": "from cashfree_sdk.payouts.transfers import Transfers\nwithd = Transfers.self_withdrawal(withdrawalId=\"withdraw1\", amount=1.1, remarks=\"withdrawal request\")"
            }
          ],
          "samples-languages": [
            "curl",
            "text",
            "java",
            "python"
          ]
        }
      }
    },
    "/payout/v1/getBeneId": {
      "get": {
        "summary": "Get Beneficiary ID",
        "description": "Use this API to get the beneficiary ID by providing the bank account number and ifsc.",
        "operationId": "getbeneficiary-id",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer auth token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bankAccount",
            "in": "query",
            "description": "Beneficiaries bank account number, alphanumeric ( >=6 and <= 40 characters).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ifsc",
            "in": "query",
            "description": "Beneficiaries bank's IFSC code (standard IFSC format) - length 11, first four IFSC and 5th character must be 0.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"status\": \"SUCCESS\", \n  \"subCode\": \"200\", \n  \"message\": \"beneId retrieved successfully\", \n  \"data\":\n  {\n    \"beneId\": \"JOHN18011\"\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "SUCCESS"
                    },
                    "subCode": {
                      "type": "string",
                      "example": "200"
                    },
                    "message": {
                      "type": "string",
                      "example": "beneId retrieved successfully"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "beneId": {
                          "type": "string",
                          "example": "JOHN18011"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n\"status\": \"ERROR\",\n\"subCode\": \"403\",\n\"message\": \"APIs not enabled. Please fill out the [Support Form](https://merchant.cashfree.com/merchants/landing?env=prod&raise_issue=1)\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "ERROR"
                    },
                    "subCode": {
                      "type": "string",
                      "example": "403"
                    },
                    "message": {
                      "type": "string",
                      "example": "APIs not enabled. Please fill out the [Support Form](https://merchant.cashfree.com/merchants/landing?env=prod&raise_issue=1)"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"status\": \"ERROR\", \n  \"subCode\": \"404\", \n  \"message\": \"Beneficiary not found with given bank account details\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "ERROR"
                    },
                    "subCode": {
                      "type": "string",
                      "example": "404"
                    },
                    "message": {
                      "type": "string",
                      "example": "Beneficiary not found with given bank account details"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl -X GET \\\n  'http://{{Host%20Url}}/payout/v1/getBeneId?bankAccount=00111122233&ifsc=HDFC0000001' \\\n  -H 'Authorization: Bearer {{Token}}' \\"
            },
            {
              "language": "text",
              "code": "const cfSdk = require('cashfree-sdk');\nconst {Beneficiary} = cfSdk.Payouts;\n\nconst response = await Beneficiary.GetBeneId({\n    bankAccount: \"00001111222233\"\n    ifsc: \"HDFC000001\"\n});",
              "name": "Node"
            },
            {
              "language": "java",
              "code": "import com.cashfree.lib.clients.Payouts;\nimport com.cashfree.lib.clients.Payouts;\nimport com.cashfree.lib.clients.Beneficiary;\nimport com.cashfree.lib.domains.BeneficiaryDetails;\n\npublic static void main(){\n\nPayouts payouts = Payouts.getInstance(\n    Environment.PRODUCTION, \"<client_id>\", \"<client_secret>\");\npayouts.init();\nBeneficiary beneficiary = new Beneficiary(payouts);\n}"
            },
            {
              "language": "python",
              "code": "from cashfree_sdk.payouts import Payouts\nfrom cashfree_sdk.payouts.beneficiary import Beneficiary\n\nbene_id = Benefeciary.get_bene_id(\"00001111222233\", \"HDFC0000001\")"
            }
          ],
          "samples-languages": [
            "curl",
            "text",
            "java",
            "python"
          ]
        }
      }
    },
    "/payout/v1/removeBeneficiary": {
      "post": {
        "summary": "Remove Beneficiary",
        "description": "Use this API to remove an existing beneficiary from a list of added beneficiaries.",
        "operationId": "remove-beneficiary1",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer auth token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "beneId"
                ],
                "properties": {
                  "beneId": {
                    "type": "string",
                    "description": "Beneficiaries Id to delete, alphanumeric and underscore allowed (50 character limit)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{ \n  \"status\":\"SUCCESS\", \n  \"subCode\":\"200\", \n  \"message\":\"Beneficiary removed\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "SUCCESS"
                    },
                    "subCode": {
                      "type": "string",
                      "example": "200"
                    },
                    "message": {
                      "type": "string",
                      "example": "Beneficiary removed"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n\"status\": \"ERROR\",\n\"subCode\": \"403\",\n\"message\": \"APIs not enabled. Please fill out the [Support Form](https://merchant.cashfree.com/merchants/landing?env=prod&raise_issue=1)\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "ERROR"
                    },
                    "subCode": {
                      "type": "string",
                      "example": "403"
                    },
                    "message": {
                      "type": "string",
                      "example": "APIs not enabled. Please fill out the [Support Form](https://merchant.cashfree.com/merchants/landing?env=prod&raise_issue=1)"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl -X POST \\\n  'http://{{Host%20Url}}/payout/v1/removeBeneficiary' \\\n  -H 'Authorization: Bearer {{Token}}' \\\n  -d '{\n  \"beneId\" : \"JOHN18011\"\n} '"
            },
            {
              "language": "text",
              "code": "const cfSdk = require('cashfree-sdk');\nconst {Beneficiary} = cfSdk.Payouts;\n\nconst response = await Beneficiary.Remove({\n    beneId: \"JOHN18011\",\n});",
              "name": "Node"
            },
            {
              "language": "java",
              "code": "import com.cashfree.lib.clients.Payouts;\nimport com.cashfree.lib.clients.Payouts;\nimport com.cashfree.lib.clients.Beneficiary;\nimport com.cashfree.lib.domains.BeneficiaryDetails;\n\npublic static void main(){\n\nPayouts payouts = Payouts.getInstance(\n    Environment.PRODUCTION, \"<client_id>\", \"<client_secret>\");\npayouts.init();\nBeneficiary beneficiary = new Beneficiary(payouts);\nbeneficiary.removeBeneficiary(\"JOHN18012\")\n}"
            },
            {
              "language": "python",
              "code": "from cashfree_sdk.payouts import Payouts\nfrom cashfree_sdk.payouts.beneficiary import Benefeciary\n\nremove_bene = Benefeciary.remove_bene(\"JOHN18011\")"
            }
          ],
          "samples-languages": [
            "curl",
            "text",
            "java",
            "python"
          ]
        }
      }
    },
    "/payout/v1/getBeneficiary/{beneId}": {
      "get": {
        "summary": "Get Beneficiary Details",
        "description": "Use this API to get the details of a particular beneficiary in your account.",
        "operationId": "getbeneficiary-details",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer auth token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "beneId",
            "in": "path",
            "description": "Unique Beneficiary ID of the beneficiary for which you want to view the details.",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"status\":\"SUCCESS\", \n  \"subCode\":\"200\", \n  \"message\":\"Details of beneficiary\", \n  \"data\":\n  { \n     \"beneId\":\"JOHN18011\", \n     \"name\":\"John\",\n     \"groupName\":\"DEFAULT\", \n     \"email\":\"johndoe@cashfree.com\", \n     \"phone\":\"9876543210\", \n     \"address1\":\"ABCavenue\", \n     \"address2\":\"\", \n     \"city\":\"Bangalore\", \n     \"state\":\"Karnataka\", \n     \"pincode\":\"0\", \n     \"bankAccount\":\"00001111222233\", \n     \"ifsc\":\"HDFC0000001\",\n      \"status\":\"VERIFIED\"\n   }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "SUCCESS"
                    },
                    "subCode": {
                      "type": "string",
                      "example": "200"
                    },
                    "message": {
                      "type": "string",
                      "example": "Details of beneficiary"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "beneId": {
                          "type": "string",
                          "example": "JOHN18011"
                        },
                        "name": {
                          "type": "string",
                          "example": "John"
                        },
                        "groupName": {
                          "type": "string",
                          "example": "DEFAULT"
                        },
                        "email": {
                          "type": "string",
                          "example": "johndoe@cashfree.com"
                        },
                        "phone": {
                          "type": "string",
                          "example": "9876543210"
                        },
                        "address1": {
                          "type": "string",
                          "example": "ABCavenue"
                        },
                        "address2": {
                          "type": "string",
                          "example": ""
                        },
                        "city": {
                          "type": "string",
                          "example": "Bangalore"
                        },
                        "state": {
                          "type": "string",
                          "example": "Karnataka"
                        },
                        "pincode": {
                          "type": "string",
                          "example": "0"
                        },
                        "bankAccount": {
                          "type": "string",
                          "example": "00001111222233"
                        },
                        "ifsc": {
                          "type": "string",
                          "example": "HDFC0000001"
                        },
                        "status": {
                          "type": "string",
                          "example": "VERIFIED"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n\"status\": \"ERROR\",\n\"subCode\": \"403\",\n\"message\": \"APIs not enabled. Please fill out the [Support Form](https://merchant.cashfree.com/merchants/landing?env=prod&raise_issue=1)\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "ERROR"
                    },
                    "subCode": {
                      "type": "string",
                      "example": "403"
                    },
                    "message": {
                      "type": "string",
                      "example": "APIs not enabled. Please fill out the [Support Form](https://merchant.cashfree.com/merchants/landing?env=prod&raise_issue=1)"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"status\":\"ERROR\",\n  \"subCode\":\"404\",\n  \"message\":\"Beneficiary does not exist\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "ERROR"
                    },
                    "subCode": {
                      "type": "string",
                      "example": "404"
                    },
                    "message": {
                      "type": "string",
                      "example": "Beneficiary does not exist"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl -X GET \\\n  'http://{{Host%20Url}}/payout/v1/getBeneficiary/JOHN18011' \\\n  -H 'Authorization: Bearer {{Token}}' \\"
            },
            {
              "language": "text",
              "code": "const cfSdk = require('cashfree-sdk');\nconst {Beneficiary} = cfSdk.Payouts;\n\nconst response = await Beneficiary.GetDetails({\n            \"beneId\": \"JOHN18011\",\n        });",
              "name": "Node"
            },
            {
              "language": "java",
              "code": "import com.cashfree.lib.clients.Payouts;\nimport com.cashfree.lib.clients.Payouts;\nimport com.cashfree.lib.clients.Beneficiary;\nimport com.cashfree.lib.domains.BeneficiaryDetails;\n\npublic static void main(){\n\nPayouts payouts = Payouts.getInstance(\n    Environment.PRODUCTION, \"<client_id>\", \"<client_secret>\");\npayouts.init();\nBeneficiary beneficiary = new Beneficiary(payouts);\nbeneficiary.getBeneficiaryDetails(\"JOHN18011\");\n}"
            },
            {
              "language": "python",
              "code": "from cashfree_sdk.payouts import Payouts\nfrom cashfree_sdk.payouts.beneficiary import Beneficiary\n\nbene_details = Benefeciary.get_bene_details(\"JOHN18011\")"
            }
          ],
          "samples-languages": [
            "curl",
            "text",
            "java",
            "python"
          ]
        }
      }
    },
    "/payout/v1/requestAsyncTransfer": {
      "post": {
        "summary": "Standard Transfer Async",
        "description": "Use this API to initiate an amount transfer request at Cashfree by providing beneficiary id, amount, and transfer id. This is an async transfer request.",
        "operationId": "standard-transfer-async1",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer auth token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "beneId",
                  "amount",
                  "transferId"
                ],
                "properties": {
                  "beneId": {
                    "type": "string",
                    "description": "Beneficiary ID. Alphanumeric characters allowed."
                  },
                  "amount": {
                    "type": "number",
                    "description": "Amount to be transferred. Decimal allowed (>= 1.00)",
                    "format": "float"
                  },
                  "transferId": {
                    "type": "string",
                    "description": "A unique id to identify this transfer. Alphanumeric and underscore (_) allowed (40 character limit)."
                  },
                  "transferMode": {
                    "type": "string",
                    "description": "It is the mode of transfer. Allowed values are: banktransfer, neft, imps, rtgs, upi, paytm, and amazonpay. The default transferMode is banktransfer."
                  },
                  "remarks": {
                    "type": "string",
                    "description": "Additional remarks, if any. alphanumeric and white spaces allowed (70 characters limit)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"status\": \"ACCEPTED\",\n    \"subCode\": \"201\",\n    \"message\": \"Transfer Initiated\",\n    \"data\": {\n        \"referenceId\": \"107260\"\n    }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "ACCEPTED"
                    },
                    "subCode": {
                      "type": "string",
                      "example": "201"
                    },
                    "message": {
                      "type": "string",
                      "example": "Transfer Initiated"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "referenceId": {
                          "type": "string",
                          "example": "107260"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n\"status\": \"ERROR\",\n\"subCode\": \"403\",\n\"message\": \"APIs not enabled. Please fill out the [Support Form](https://merchant.cashfree.com/merchants/landing?env=prod&raise_issue=1)\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "ERROR"
                    },
                    "subCode": {
                      "type": "string",
                      "example": "403"
                    },
                    "message": {
                      "type": "string",
                      "example": "APIs not enabled. Please fill out the [Support Form](https://merchant.cashfree.com/merchants/landing?env=prod&raise_issue=1)"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"status\":\"ERROR\",\n  \"subCode\":\"422\", \n  \"message\":\"Remarks is invalid\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "ERROR"
                    },
                    "subCode": {
                      "type": "string",
                      "example": "422"
                    },
                    "message": {
                      "type": "string",
                      "example": "Remarks is invalid"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl -X POST \\\n  'http://{{Host%20Url}}/payout/v1/requestAsyncTransfer' \\\n  -H 'Authorization: Bearer {{Token}}' \\\n  -d '{\n  \"beneId\": \"JOHN18011343\",\n  \"amount\": \"1.00\",\n  \"transferId\": \"JUNOB2018\"\n}'"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/payout/v1/beneHistory": {
      "get": {
        "summary": "Get Beneficiary History",
        "description": "Use this API to fetch the transaction history for a particular beneficiary and for a desired period of time.",
        "operationId": "getbeneficiary-history",
        "parameters": [
          {
            "name": "beneId",
            "in": "query",
            "description": "The beneficiary id that you have created. Alphanumeric characters accepted.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Start date for the desired period. Format - yyyy-mm-dd",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "End date for the desired period. Format -  yyyy-mm-dd. If start date is provided,  end date is a mandatory. End date has to be a day less than current date.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "perPage",
            "in": "query",
            "description": "Number of transactions to be displayed on the page. Maximum = 25. Default value set is 25.",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Will show the latest transfers on the first page. Minimum = 1. Default value set is 1.",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer auth token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"status\": \"SUCCESS\",\n    \"subCode\": \"200\",\n    \"message\": \"Data retrieved successfully\",\n    \"data\": {\n        \"transfers\": [\n            {\n                \"transferDate\": \"2020-06-16\",\n                \"amount\": \"1\",\n                \"mode\": \"IMPS\",\n                \"beneId\": \"John Doe\",\n                \"status\": \"SUCCESS\"\n            },\n            {\n                \"transferDate\": \"2020-05-28\",\n                \"amount\": \"1\",\n                \"mode\": \"NEFT\",\n                \"beneId\": \"John Doe\",\n                \"status\": \"SUCCESS\"\n            },\n            {\n                \"transferDate\": \"2020-05-15\",\n                \"amount\": \"1.1\",\n                \"mode\": \"IMPS\",\n                \"beneId\": \"John Doe\",\n                \"status\": \"SUCCESS\"\n            },\n            {\n                \"transferDate\": \"2020-05-15\",\n                \"amount\": \"1.1\",\n                \"mode\": \"IMPS\",\n                \"beneId\": \"John Doe\",\n                \"status\": \"SUCCESS\"\n            },\n            {\n                \"transferDate\": \"2020-05-15\",\n                \"amount\": \"1\",\n                \"mode\": \"IMPS\",\n                \"beneId\": \"John Doe\",\n                \"status\": \"SUCCESS\"\n            }\n        ]\n    }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "SUCCESS"
                    },
                    "subCode": {
                      "type": "string",
                      "example": "200"
                    },
                    "message": {
                      "type": "string",
                      "example": "Data retrieved successfully"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "transfers": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "transferDate": {
                                "type": "string",
                                "example": "2020-06-16"
                              },
                              "amount": {
                                "type": "string",
                                "example": "1"
                              },
                              "mode": {
                                "type": "string",
                                "example": "IMPS"
                              },
                              "beneId": {
                                "type": "string",
                                "example": "John Doe"
                              },
                              "status": {
                                "type": "string",
                                "example": "SUCCESS"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n\"status\": \"ERROR\",\n\"subCode\": \"403\",\n\"message\": \"APIs not enabled. Please fill out the [Support Form](https://merchant.cashfree.com/merchants/landing?env=prod&raise_issue=1)\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "ERROR"
                    },
                    "subCode": {
                      "type": "string",
                      "example": "403"
                    },
                    "message": {
                      "type": "string",
                      "example": "APIs not enabled. Please fill out the [Support Form](https://merchant.cashfree.com/merchants/landing?env=prod&raise_issue=1)"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"status\": \"ERROR\",\n    \"subCode\": \"422\",\n    \"message\": \"Please provide a valid beneId\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "ERROR"
                    },
                    "subCode": {
                      "type": "string",
                      "example": "422"
                    },
                    "message": {
                      "type": "string",
                      "example": "Please provide a valid beneId"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl --location --request GET 'https://payout-api.cashfree.com//payout/v1/beneHistory?beneId=VENKY_UPI&startDate=2021-05-27&endDate=2021-05-31&perPage=10&page=1' \\\n--header 'Authorization: Bearer  <token>'"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/payout/v1.1/getTransferStatus": {
      "get": {
        "summary": "Get Transfer Status",
        "description": "Use these details to get details of a particular transfer. You can pass referenceId or transferId to fetch the details.",
        "operationId": "get-transfer-status1",
        "parameters": [
          {
            "name": "referenceId",
            "in": "query",
            "description": "Reference ID of the transaction. (Either referenceId or transferId is mandatory)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transferId",
            "in": "query",
            "description": "Transfer ID of the transaction.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer auth token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "\t// Case 1: Transfer ID/Reference ID exists and the transfer is successful.\n\t\n{\n   \"status\": \"SUCCESS\",\n   \"subCode\": \"200\",\n   \"message\": \"Details of transfer with referenceId 200223467\",\n   \"data\": \n   {\n       \"transfer\": \n       {\n           \"transferId\": \"sample01139\",\n           \"bankAccount\": \"000810139000385\",\n           \"ifsc\": \"YESB0MAN001\",\n           \"beneId\": \"test_bene\",\n           \"amount\": \"1.2\",\n           \"status\": \"SUCCESS\",\n           \"utr\": \"N351200478962883\",\n           \"addedOn\": \"2020-12-16 09:17:41\",\n           \"processedOn\": \"2020-12-16 09:17:42\",\n           \"transferMode\": \"BANK\",\n           \"acknowledged\": 1\n       }\n   }\n}\n\n\n\n\n// Case 2: Transfer ID/Reference ID exists but the transfer is not successful\n{\n   \"status\": \"SUCCESS\",\n   \"subCode\": \"200\",\n   \"message\": \"Details of transfer with referenceId 195460327\",\n   \"data\": \n   {\n       \"transfer\": \n       {\n           \"transferId\": \"1025fca380442d98\",\n           \"bankAccount\": \"20274048860\",\n           \"ifsc\": \"SBIN0002207\",\n           \"beneId\": \"TEST1234\",\n           \"amount\": \"1.1\",\n           \"status\": \"FAILED\",\n           \"addedOn\": \"2020-12-04 18:52:12\",\n           \"processedOn\": \"2020-12-04 19:07:13\",\n           \"reason\": \"BENEFICIARY_BANK_OFFLINE\",\n           \"transferMode\": \"BANK\",\n            \"acknowledged\": 0\n       }\n   }\n}"
                  }
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n\"status\": \"ERROR\",\n\"subCode\": \"403\",\n\"message\": \"APIs not enabled. Please fill out the [Support Form](https://merchant.cashfree.com/merchants/landing?env=prod&raise_issue=1)\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "ERROR"
                    },
                    "subCode": {
                      "type": "string",
                      "example": "403"
                    },
                    "message": {
                      "type": "string",
                      "example": "APIs not enabled. Please fill out the [Support Form](https://merchant.cashfree.com/merchants/landing?env=prod&raise_issue=1)"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n   \"status\": \"ERROR\",\n   \"subCode\": \"404\",\n   \"message\": \"referenceId is invalid or does not exist\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "ERROR"
                    },
                    "subCode": {
                      "type": "string",
                      "example": "404"
                    },
                    "message": {
                      "type": "string",
                      "example": "referenceId is invalid or does not exist"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl --location --request GET 'http://localhost:9188/payout/v1/getTransferStatus?transferId=Sample_test' \\\n--header 'Authorization: Bearer {{Token}}' \\\n--header 'Content-Type: application/json'"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/payout/v1/requestTransfer": {
      "post": {
        "summary": "Standard Transfer Sync",
        "description": "Use this API to initiate an amount transfer request at Cashfree by providing beneficiary id, amount, and transfer id. This is a sync transfer request.",
        "operationId": "standard-transfer-sync1",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer Auth Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "beneId",
                  "amount",
                  "transferId"
                ],
                "properties": {
                  "beneId": {
                    "type": "string",
                    "description": "Beneficiary Id. Alphanumeric characters allowed."
                  },
                  "amount": {
                    "type": "number",
                    "description": "amount to be transferred. Decimals allowed (>= 1.00)",
                    "format": "float"
                  },
                  "transferId": {
                    "type": "string",
                    "description": "A unique Id to identify this transfer. Alphanumeric and underscore (_) allowed (40 character limit)."
                  },
                  "transferMode": {
                    "type": "string",
                    "description": "It is the mode of transfer. Allowed values are: banktransfer, neft, imps, rtgs, upi, paytm, and amazonpay. The default transferMode is banktransfer."
                  },
                  "remarks": {
                    "type": "string",
                    "description": "Additional remarks, if any. Alphanumeric and white spaces allowed (70 characters limit)."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "// Case 1\n{\n  \"status\":\"SUCCESS\", \n  \"subCode\":\"200\", \n  \"message\":\"Transfer completed successfully\", \n  \"data\": \n  {\n    \"referenceId\":\"10023\",\n    \"utr\":\"P16111765023806\",\n    \"acknowledged\": 1\n  }\n}\n\n// Case 2\n{\n  \"status\":\"ERROR\",\n  \"subCode\":\"404\",\n  \"message\":\"Beneficiary does not exist\"\n}\n\n// Case 3\n\n{\n  \"status\":\"ERROR\",\n  \"subCode\":\"422\", \n  \"message\":\"Remarks can have only numbers,alphabets and whitespaces\"\n}"
                  }
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n\"status\": \"ERROR\",\n\"subCode\": \"403\",\n\"message\": \"APIs not enabled. Please fill out the [Support Form](https://merchant.cashfree.com/merchants/landing?env=prod&raise_issue=1)\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "ERROR"
                    },
                    "subCode": {
                      "type": "string",
                      "example": "403"
                    },
                    "message": {
                      "type": "string",
                      "example": "APIs not enabled. Please fill out the [Support Form](https://merchant.cashfree.com/merchants/landing?env=prod&raise_issue=1)"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl -X POST \\\n  'http://{{Host%20Url}}/payout/v1/requestTransfer' \\\n  -H 'Authorization: Bearer {{Token}}' \\\n  -d '{\n  \"beneId\": \"JOHN18011\",\n  \"amount\": \"1.00\",\n  \"transferId\": \"JUNOB2018\"\n}'"
            },
            {
              "language": "text",
              "code": "const cfSdk = require('cashfree-sdk');\nconst {Transfers} = cfSdk.Payouts;\n\nconst response = await Transfers.RequestTransfer({\n            \"beneId\": \"JOHN18011\",\n            \"transferId\": \"tranfer001234\",\n            \"amount\": \"1.00\",\n        });",
              "name": "Node"
            },
            {
              "language": "java",
              "code": "import com.cashfree.lib.clients.Payouts;\nimport com.cashfree.lib.clients.Transfers;\nimport com.cashfree.lib.domains.request.BatchTransferRequest;\nimport com.cashfree.lib.domains.request.RequestTransferRequest;\n\npublic static void main(){\n\nPayouts payouts = Payouts.getInstance(\n    Environment.PRODUCTION, \"<client_id>\", \"<client_secret>\");\npayouts.init();\nTransfers transfer = new Transfers(payouts);\n\nRequestTransferRequest request = new RequestTransferRequest()\n        .setBeneId(\"JOHN18011\")\n        .setAmount(new BigDecimal(\"1.00\"))\n        .setTransferId(\"javasdktestJAN2019\");\ntransfers.requestTransfer(request);\n}"
            },
            {
              "language": "python",
              "code": "from cashfree_sdk.payouts import Payouts\nfrom cashfree_sdk.payouts.transfers import Transfers\n\ntnx_req = Transfers.request_transfer(beneId=\"JOHN18011\", amount=\"100.1\", transferId=\"DEC2017\", transferMode=\"banktransfer\", remarks=\"Test transfer\")"
            }
          ],
          "samples-languages": [
            "curl",
            "text",
            "java",
            "python"
          ]
        }
      }
    },
    "/payout/v1/createCashgram": {
      "post": {
        "summary": "Create Cashgram",
        "description": "Use this API to create a Cashgram.",
        "operationId": "create-cashgram1",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer auth token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "cashgramId",
                  "amount",
                  "name",
                  "phone",
                  "linkExpiry"
                ],
                "properties": {
                  "cashgramId": {
                    "type": "string",
                    "description": "Unique Id of the Cashgram. Alphanumeric, underscore (_), and hyphen (-) allowed (35 character limit)"
                  },
                  "amount": {
                    "type": "number",
                    "description": "Amount to be transferred, >= 1.00",
                    "format": "float"
                  },
                  "name": {
                    "type": "string",
                    "description": "Name of the contact"
                  },
                  "email": {
                    "type": "string",
                    "description": "Email of the contact"
                  },
                  "phone": {
                    "type": "string",
                    "description": "Phone number of the contact"
                  },
                  "linkExpiry": {
                    "type": "string",
                    "description": "Date to expire the cashgram link, Date format YYYY/MM/DD, maximum 30 days from the date of creation."
                  },
                  "remarks": {
                    "type": "string",
                    "description": "Specify remarks, if any."
                  },
                  "notifyCustomer": {
                    "type": "boolean",
                    "description": "If value is 1, a link is sent to customers phone and email."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"status\": \"SUCCESS\",\n    \"subCode\": \"200\",\n    \"message\": \"Cashgram Created\",\n    \"data\": \n    {\n        \"referenceId\": 123456,\n        \"cashgramLink\": \"http://csgr.am/abcdefg\"\n    }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "SUCCESS"
                    },
                    "subCode": {
                      "type": "string",
                      "example": "200"
                    },
                    "message": {
                      "type": "string",
                      "example": "Cashgram Created"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "referenceId": {
                          "type": "integer",
                          "example": 123456,
                          "default": 0
                        },
                        "cashgramLink": {
                          "type": "string",
                          "example": "http://csgr.am/abcdefg"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "409",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{ \n  \"status\": \"ERROR\", \n  \"subCode\": \"409\", \n  \"message\": \"Cashgram with id JOHaN10 already exists\" \n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "ERROR"
                    },
                    "subCode": {
                      "type": "string",
                      "example": "409"
                    },
                    "message": {
                      "type": "string",
                      "example": "Cashgram with id JOHaN10 already exists"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl -X POST \\\n  'http://{{Host%20Url}}/payout/v1/createCashgram' \\\n  -H 'Content-Type: application/json' \\\n  -H 'Authorization: Bearer {{Token}}'\n  -d '{\n            \"cashgramId\": \"JOHaN10\",\n            \"amount\": \"1.00\",\n            \"name\": \"John Doe\",\n            \"email\": \"johndoe@cashfree.com\",\n            \"phone\": \"9876543210\",\n            \"linkExpiry\": \"2020/04/01\",\n            \"remarks\": \"sample cashgram\",\n            \"notifyCustomer\": 1\n}'"
            },
            {
              "language": "text",
              "code": "const cfSdk = require('cashfree-sdk');\nconst {Cashgram} = cfSdk.Payouts;\n\nconst response = await Cashgram.CreateCashgram({\n            cashgramId: \"JOHaN10\",\n            amount: \"1.00\",\n            name: \"John Doe\",\n            email: \"johndoe@cashfree.com\",\n            phone: \"9876543210\",\n            linkExpiry: \"2020/04/01\",\n            remarks: \"sample cashgram\",\n            notifyCustomer: 1\n        });",
              "name": "Node"
            },
            {
              "language": "java",
              "code": "import com.cashfree.lib.clients.Payouts;\nimport com.cashfree.lib.clients.Cashgram;\nimport com.cashfree.lib.domains.CashgramDetails\n\nPayouts payouts = Payouts.getInstance(\n    Environment.PRODUCTION, \"<client_id>\", \"<client_secret>\");\npayouts.init();\nCashgram cashgram = new Cashgram(payouts);\n\nCashgramDetails cashgramDetails = new CashgramDetails()\n        .setCashgramId(\"JOHaN10\")\n        .setAmount(new BigDecimal(\"1.00\"))\n        .setName(\"John Doe\")\n        .setEmail(\"johndoe@cashfree.com\")\n        .setPhone(\"9876543210\")\n        .setLinkExpiry(LocalDateTime.now().plusMinutes(0))\n        .setRemarks(\"sample cashgram\")\n        .setNotifyCustomer(1);\ncashgram.createCashgram(cashgramDetails);\n}"
            },
            {
              "language": "python",
              "code": "from cashfree_sdk.payouts import Payouts\nfrom cashfree_sdk.payouts.cashgram import Cashgram\nc = Cashgram.create_cashgram(cashgramId=\"JOHaN10\", amount=\"1.1\", name=\"john doe\", email=\"johndoe@cashfree.com\", phone=\"9876543210\", \nlinkExpiry=\"2020/04/01\", remarks=\"sample cashgram\", notifyCustomer=1)  "
            }
          ],
          "samples-languages": [
            "curl",
            "text",
            "java",
            "python"
          ]
        }
      }
    },
    "/payout/v1/requestBatchTransfer": {
      "post": {
        "summary": "Batch Transfer",
        "description": "Use this API to create multiple transfers to multiple beneficiaries. This API accepts an array of transfer objects under the batch field.",
        "operationId": "batch-transfer1",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer auth token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "batchTransferId",
                  "batchFormat",
                  "batch"
                ],
                "properties": {
                  "batchTransferId": {
                    "type": "string",
                    "description": "Unique Id of the Batch Transfer, alphanumeric and underscore allowed (60 character limit)"
                  },
                  "batchFormat": {
                    "type": "string",
                    "description": "Format of the batch transfers, valid values are, BENEFICIARY_ID, BANK_ACCOUNT, UPI, PAYTM, AMAZONPAY. Details are available below."
                  },
                  "deleteBene": {
                    "type": "boolean",
                    "description": "Flag to delete and read new beneficiaries if a beneficiary with the same Beneficiary Id is available. When the batch transfer format is BANK_ACCOUNT"
                  },
                  "batch": {
                    "type": "array",
                    "description": "An array of transfer objects",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{ \n  \"status\": SUCCESS,\n  \"subCode\": \"200\", \n  \"message\": \"Request accepted\",\n  \"data\": \n  {\n    \"referenceId\": 1594\n  } \n}"
                  }
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n\"status\": \"ERROR\",\n\"subCode\": \"403\",\n\"message\": \"APIs not enabled. Please fill out the [Support Form](https://merchant.cashfree.com/merchants/landing?env=prod&raise_issue=1)\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "ERROR"
                    },
                    "subCode": {
                      "type": "string",
                      "example": "403"
                    },
                    "message": {
                      "type": "string",
                      "example": "APIs not enabled. Please fill out the [Support Form](https://merchant.cashfree.com/merchants/landing?env=prod&raise_issue=1)"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "409",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"status\": \"ERROR\", \n  \"subCode\": \"409\", \n  \"message\": \"Batch TransferId abc-12356 already exists\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "ERROR"
                    },
                    "subCode": {
                      "type": "string",
                      "example": "409"
                    },
                    "message": {
                      "type": "string",
                      "example": "Batch TransferId abc-12356 already exists"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"status\": \"ERROR\",\n    \"subCode\": \"422\",\n    \"message\": \"Permission Denied\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "ERROR"
                    },
                    "subCode": {
                      "type": "string",
                      "example": "422"
                    },
                    "message": {
                      "type": "string",
                      "example": "Permission Denied"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl --location --request POST 'https://payout-api.cashfree.com//payout/v1/requestBatchTransfer' \\\n--header 'Authorization: Bearer <token>' \\\n--header 'Content-Type: application/json' \\\n--data-raw '{\n    \"batchTransferId\": \"abc-.12356\",\n    \"batchFormat\": \"BANK_ACCOUNT\",\n    \"batch\": [\n        {\n            \"amount\": \"1\",\n            \"transferId\": \"1234\",\n            \"remarks\": \"Transfer with Id 12356\",\n            \"name\": \"john doe\",\n            \"email\": \"johndoe@cashfree.com\",\n            \"phone\": 9876543210,\n            \"bankAccount\": \"00111122233\",\n            \"ifsc\": \"HDFC0000001\"\n        }\n    ]\n}'"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/payout/v1/deactivateCashgram": {
      "post": {
        "summary": "Deactivate Cashgram",
        "description": "",
        "operationId": "deactivate-cashgram1",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer auth token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "cashgramId"
                ],
                "properties": {
                  "cashgramId": {
                    "type": "string",
                    "description": "ID of the Cashgram to be deactivated. Alphanumeric and underscore (_) allowed (35 character limit)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{ \n  \"status\": \"SUCCESS\", \n  \"subCode\": \"200\", \n  \"message\": \"Cashgram with id - JOHaN10 successfully deactivated!\" \n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "SUCCESS"
                    },
                    "subCode": {
                      "type": "string",
                      "example": "200"
                    },
                    "message": {
                      "type": "string",
                      "example": "Cashgram with id - JOHaN10 successfully deactivated!"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{ \n  \"status\": \"ERROR\", \n  \"subCode\": \"404\", \n  \"message\": \"Cashgram with id JOHaN10 does not exists\" \n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "ERROR"
                    },
                    "subCode": {
                      "type": "string",
                      "example": "404"
                    },
                    "message": {
                      "type": "string",
                      "example": "Cashgram with id JOHaN10 does not exists"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl -X GET \\\n  'http://{{Host%20Url}}/payout/v1/deactivateCashgram?cashgramId=JOHaN10' \\\n  -H 'Content-Type: application/json' \\\n  -H 'Authorization: Bearer {{Token}}'"
            },
            {
              "language": "text",
              "code": "const cfSdk = require('cashfree-sdk');\nconst {Cashgram} = cfSdk.Payouts;\nconst response = await Cashgram.DeactivateCashgram({\n            cashgramId: \"JOHaN10\"\n        });",
              "name": "Node"
            },
            {
              "language": "java",
              "code": "import com.cashfree.lib.clients.Payouts;\nimport com.cashfree.lib.clients.Cashgram;\nimport com.cashfree.lib.domains.CashgramDetails\nPayouts payouts = Payouts.getInstance {\n    Environment.PRODUCTION, \"<client_id>\", \"<client_secret>\");\npayouts.init();\nCashgram cashgram = new Cashgram(payouts);\ncashgram.deactivateCashgram(\"JOHaN10\");\n}"
            },
            {
              "language": "python",
              "code": "from cashfree_sdk.payouts import Payouts\nfrom cashfree_sdk.payouts.cashgram import Cashgram\nstatus = Cashgram.deactivate_cashgram(cashgramId=\"JOHaN10\")"
            }
          ],
          "samples-languages": [
            "curl",
            "text",
            "java",
            "python"
          ]
        }
      }
    },
    "/payout/v1/authorize": {
      "post": {
        "summary": "Authorize",
        "description": "Use this API to authenticate with the Cashfree system and obtain the authorization bearer token. All other API calls must have this token as Authorization header in the format 'Bearer <token>' (without quotes) for them to get processed.",
        "operationId": "authorize-2",
        "parameters": [
          {
            "name": "X-Cf-Signature",
            "in": "header",
            "description": "Signature to be sent if IP is not whitelisted",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Client-Secret",
            "in": "header",
            "description": "Client Secret key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Client-Id",
            "in": "header",
            "description": "Client ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"status\": \"SUCCESS\",\n    \"subCode\": \"200\",\n    \"message\": \"Token is valid\"\n}\n"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "SUCCESS"
                    },
                    "subCode": {
                      "type": "string",
                      "example": "200"
                    },
                    "message": {
                      "type": "string",
                      "example": "Token is valid"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"status\":\"ERROR\",\n  \"subCode\":\"401\",\n  \"message\":\"Invalid clientId and clientSecret combination\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "ERROR"
                    },
                    "subCode": {
                      "type": "string",
                      "example": "401"
                    },
                    "message": {
                      "type": "string",
                      "example": "Invalid clientId and clientSecret combination"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl -X POST \\\n  'http://{{Host%20Url}}/payout/v1/authorize' \\\n  -H 'X-Client-Id: {{client id}}' \\\n  -H 'X-Client-Secret: {{client secret}}' \\"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/payout/v1/getCashgramStatus": {
      "get": {
        "summary": "Get Cashgram Status",
        "description": "Use this API to get the status of the Cashgram created.",
        "operationId": "get-cashgram-status1",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer auth token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cashgramId",
            "in": "query",
            "description": "ID of the Cashgram",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
[...]
