{
  "openapi": "3.0.3",
  "info": {
    "title": "BBPS",
    "version": "4"
  },
  "servers": [
    {
      "url": "https://sandbox.cashfree.com/",
      "description": "Testing environment baseUrl"
    },
    {
      "url": "https://api.cashfree.com/",
      "description": "Production environment baseUrl"
    }
  ],
  "components": {
    "securitySchemes": {}
  },
  "security": [
    {}
  ],
  "paths": {
    "/bbps/biller/bill/status/{bbps_transaction_id}": {
      "get": {
        "summary": "Check Transaction Status",
        "description": "The check transaction status API allows billers to retrieve the current status of a transaction using the unique BBPS transaction ID associated with the bill. This endpoint serves as a reliable method for querying transaction details, providing merchants with real-time updates on payment status.",
        "parameters": [
          {
            "name": "bbps_transaction_id",
            "in": "path",
            "required": true,
            "description": "Unique identifier for the transaction (BBPS transaction ID).",
            "schema": {
              "type": "string",
              "example": "test40624"
            }
          },
          {
            "name": "x-client-id",
            "in": "header",
            "required": true,
            "description": "Client ID provided by Cashfree.",
            "schema": {
              "type": "string",
              "example": "your_client_id"
            }
          },
          {
            "name": "x-client-secret",
            "in": "header",
            "required": true,
            "description": "Client secret key provided by Cashfree.",
            "schema": {
              "type": "string",
              "example": "your_client_secret"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "description": "The content type for the request should be application/json.",
            "schema": {
              "type": "string",
              "example": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"bbps_transaction_id\": \"test40624\",\n  \"bill_payment_status\": \"SUCCESS\",\n  \"settlement_status\": \"SETTLED\",\n  \"settlement_utr\": \"DUMMYUTR\",\n  \"settlement_amount\": 1,\n  \"settlement_time\": \"2024-07-30 11:39:42\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "bbps_transaction_id": {
                      "type": "string",
                      "description": "Unique BBPS transaction ID for the request."
                    },
                    "bill_payment_status": {
                      "type": "string",
                      "description": "Current status of the transaction (e.g. SUCCESS, PENDING, FAILED).",
                      "enum": [
                        "SUCCESS",
                        "PENDING",
                        "FAILED"
                      ]
                    },
                    "settlement_status": {
                      "type": "string",
                      "description": "Status of the settlement (SETTLED or null)."
                    },
                    "settlement_utr": {
                      "type": "string",
                      "description": "Unique transaction reference number of the settlement."
                    },
                    "settlement_amount": {
                      "type": "integer",
                      "description": "Amount of the settlement."
                    },
                    "settlement_time": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Time of the settlement."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Invalid BBPS transaction ID": {
                    "value": "{\n  \"type\": \"validation_error\",\n  \"code\": \"transaction not found\",\n  \"message\": \"transaction does not exist for bbps transaction id\"\n}"
                  },
                  "Client ID is missing in request": {
                    "value": "{\n  \"type\": \"validation_error\",\n  \"code\": \"x-client-id_missing\",\n  \"message\": \"x-client-id is missing in the request.\"\n}"
                  },
                  "Client secret key is missing": {
                    "value": "{\n  \"type\": \"validation_error\",\n  \"code\": \"x-client-secret_missing\",\n  \"message\": \"x-client-secret is missing in the request.\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"type\": \"authentication_error\",\n  \"code\": \"request_failed\",\n  \"message\": \"authentication failed\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"type\": \"authentication_error\",\n  \"code\": \"request_failed\",\n  \"message\": \"IP not Whitelisted\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "429",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"type\": \"rate_limit_error\",\n  \"code\": \"too_many_requests_per_ip\",\n  \"message\": \"Too many requests from the IP, rate limit reached\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl --location --request GET 'https://sandbox.cashfree.com/bbps/biller/bill/status/{bbps_transaction_id}'\\\n--header 'x-client-id: {clientId}' \\\n--header 'x-client-secret: {clientKey}' \\\n--header 'Content-Type: application/json'"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    }
  },
  "x-readme": {
    "headers": [],
    "explorer-enabled": true,
    "proxy-enabled": true
  },
  "x-readme-fauxas": true
}