{
  "openapi": "3.0.0",
  "info": {
    "version": "2022-09-01",
    "title": "Cashfree Payment Gateway APIs",
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "contact": {
      "email": "developers@cashfree.com",
      "name": "API Support",
      "url": "https://discord.com/invite/QdZkNSxXsB"
    },
    "description": "Cashfree's Payment Gateway APIs provide developers with a streamlined pathway to integrate advanced payment processing capabilities into their applications, platforms and websites."
  },
  "servers": [
    {
      "url": "https://sandbox.cashfree.com/pg",
      "description": "Sandbox server"
    },
    {
      "url": "https://api.cashfree.com/pg",
      "description": "Production server"
    }
  ],
  "tags": [
    {
      "name": "Orders",
      "description": "Collection of APIs to handle orders."
    },
    {
      "name": "Payments",
      "description": "Collection of APIs to handle payments."
    },
    {
      "name": "Refunds",
      "description": "Collection of APIs to handle refunds."
    },
    {
      "name": "Settlements",
      "description": "Collection of APIs to handle settlements."
    },
    {
      "name": "Payment Links",
      "description": "Collection of APIs to handle payment links."
    },
    {
      "name": "Token Vault",
      "description": "Collection of APIs to use Cashfree's token Vault. This helps you save cards and tokenize them in a PCI complaint manner. We support creation of network tokens which can be used across acquiring banks"
    },
    {
      "name": "softPOS",
      "description": "Collection of APIs to manage softPOS' agent and order"
    },
    {
      "name": "Offers",
      "description": "Collection of APIs to handle offers"
    },
    {
      "name": "Eligibility",
      "description": "Collection of APIs to check eligibile entities - payment methods, offer, affordibility"
    },
    {
      "name": "Settlement Reconciliation",
      "description": "Collection of APIs to handle settlements"
    },
    {
      "name": "PG Reconciliation",
      "description": "Collection of APIs to handle reconciliation"
    }
  ],
  "components": {
    "securitySchemes": {
      "XClientID": {
        "type": "apiKey",
        "in": "header",
        "name": "x-client-id",
        "description": "Client app ID. You can find your app id in the [Merchant Dashboard](https://merchant.cashfree.com/merchants/pg/developers/api-keys?env=prod)."
      },
      "XClientSecret": {
        "type": "apiKey",
        "in": "header",
        "name": "x-client-secret",
        "description": "Client secret key. You can find your secret in the [Merchant Dashboard](https://merchant.cashfree.com/merchants/pg/developers/api-keys?env=prod)."
      },
      "XClientSignatureHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "x-client-signature",
        "description": "Use this if you do not want to pass the secret key and instead want to use signature"
      },
      "XPartnerAPIKey": {
        "type": "apiKey",
        "in": "header",
        "name": "x-partner-apikey",
        "description": "If you are partner and you are making an api call on behalf of a merchant"
      },
      "XPartnerMerchantID": {
        "type": "apiKey",
        "in": "header",
        "name": "x-partner-merchantid",
        "description": "If you are partner use this to specify the merchant id if you don't have the merchant client app id"
      }
    },
    "schemas": {
      "AllOffers": {
        "title": "All Offers",
        "type": "object",
        "description": "All offers applicable"
      },
      "ApiError": {
        "title": "ApiError",
        "description": "Error at cashfree's server",
        "example": {
          "message": "internal Server Error",
          "code": "internal_error",
          "type": "api_error"
        },
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "api_error"
            ],
            "description": "api_error"
          }
        }
      },
      "ApiError404": {
        "title": "ApiError404",
        "description": "Error when resource requested is not found",
        "example": {
          "message": "something is not found",
          "code": "somethind_not_found",
          "type": "invalid_request_error"
        },
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "invalid_request_error"
            ],
            "description": "invalid_request_error"
          }
        }
      },
      "ApiError409": {
        "title": "ApiError409",
        "description": "duplicate request",
        "example": {
          "message": "order with same id is already present",
          "code": "order_already_exists",
          "type": "invalid_request_error"
        },
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "invalid_request_error"
            ],
            "description": "invalid_request_error"
          }
        }
      },
      "ApiError502": {
        "title": "ApiError502",
        "description": "Error when there is error at partner bank",
        "example": {
          "message": "something is not found",
          "code": "bank_processing_failure",
          "type": "api_error"
        },
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "code": {
            "type": "string",
            "description": "`bank_processing_failure` will be returned here to denote failure at bank.\n"
          },
          "type": {
            "type": "string",
            "enum": [
              "api_error"
            ],
            "description": "api_error"
          }
        }
      },
      "App": {
        "title": "App",
        "description": "App payment method",
        "example": {
          "channel": "link",
          "provider": "gpay",
          "phone": "8474090552"
        },
        "type": "object",
        "properties": {
          "channel": {
            "type": "string",
            "description": "Specify the channel through which the payment must be processed."
          },
          "provider": {
            "type": "string",
            "enum": [
              "gpay",
              "phonepe",
              "ola",
              "paytm",
              "amazon",
              "airtel",
              "freecharge",
              "mobikwik",
              "jio"
            ],
            "description": "Specify the provider through which the payment must be processed."
          },
          "phone": {
            "type": "string",
            "description": "Customer phone number associated with a wallet for payment."
          }
        },
        "required": [
          "channel",
          "provider",
          "phone"
        ]
      },
      "AppPaymentMethod": {
        "title": "AppPaymentMethod",
        "description": "App payment method",
        "example": {
          "app": {
            "channel": "link",
            "provider": "gpay",
            "phone": "8474090552"
          }
        },
        "type": "object",
        "properties": {
          "app": {
            "$ref": "#/components/schemas/App"
          }
        },
        "required": [
          "app"
        ]
      },
      "AuthenticationError": {
        "title": "AuthenticationError",
        "description": "Error if api keys are wrong",
        "example": {
          "message": "authentication Failed",
          "code": "request_failed",
          "type": "authentication_error"
        },
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "description": "authentication_error"
          }
        }
      },
      "AuthorizationInPaymentsEntity": {
        "title": "AuthorizationInPayments",
        "description": "If preauth enabled for account you will get this body",
        "nullable": true,
        "example": {
          "action": "CAPTURE",
          "status": "PENDING",
          "captured_amount": 100,
          "start_time": "2022-02-09T18:04:34+05:30",
          "end_time": "2022-02-19T18:04:34+05:30",
          "approve_by": "2022-02-09T18:04:34+05:30",
          "action_reference": "6595231908096894505959",
          "action_time": "2022-08-03T16:09:51"
        },
        "type": "object",
        "properties": {
          "action": {
            "type": "string",
            "enum": [
              "CAPTURE",
              "VOID"
            ],
            "description": "One of CAPTURE or VOID"
          },
          "status": {
            "type": "string",
            "enum": [
              "SUCCESS",
              "PENDING"
            ],
            "description": "One of SUCCESS or PENDING"
          },
          "captured_amount": {
            "type": "number",
            "description": "The captured amount for this authorization request"
          },
          "start_time": {
            "type": "string",
            "description": "Start time of this authorization hold (only for UPI)"
          },
          "end_time": {
            "type": "string",
            "description": "End time of this authorization hold (only for UPI)"
          },
          "approve_by": {
            "type": "string",
            "description": "Approve by time as passed in the authorization request (only for UPI)"
          },
          "action_reference": {
            "type": "string",
            "description": "CAPTURE or VOID reference number based on action "
          },
          "action_time": {
            "type": "string",
            "description": "Time of action (CAPTURE or VOID)"
          }
        }
      },
      "AuthorizeOrderRequest": {
        "title": "AuthorizeOrderRequest",
        "description": "Request to capture or void transaction",
        "example": {
          "action": "CAPTURE",
          "amount": 100
        },
        "type": "object",
        "properties": {
          "action": {
            "type": "string",
            "enum": [
              "CAPTURE",
              "VOID"
            ],
            "description": "Type of authorization to run. Can be one of 'CAPTURE' , 'VOID'"
          },
          "amount": {
            "type": "number",
            "description": "The amount if you are running a 'CAPTURE'"
          }
        }
      },
      "BadRequestError": {
        "title": "BadRequestError",
        "description": "Invalid request received from client",
        "example": {
          "message": "bad URL, please check API documentation",
          "code": "request_failed",
          "type": "invalid_request_error"
        },
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "invalid_request_error"
            ]
          }
        }
      },
      "Card": {
        "title": "Card",
        "description": "Card Payment method",
        "example": {
          "channel": "link",
          "card_number": "4111111111111111",
          "card_holder_name": "Tushar Gupta",
          "card_expiry_mm": "06",
          "card_expiry_yy": "22",
          "card_cvv": "900"
        },
        "type": "object",
        "properties": {
          "channel": {
            "type": "string",
            "enum": [
              "link",
              "post"
            ],
            "description": "The channel for card payments can be \"link\" or \"post\". Post is used for seamless OTP payments where merchant captures OTP on their own page."
          },
          "card_number": {
            "type": "string",
            "description": "Customer card number for plain card transactions. Token pan number for tokenized card transactions."
          },
          "card_holder_name": {
            "type": "string",
            "description": "Customer name mentioned on the card."
          },
          "card_expiry_mm": {
            "type": "string",
            "description": "Card expiry month for plain card transactions. Token expiry month for tokenized card transactions."
          },
          "card_expiry_yy": {
            "type": "string",
            "description": "Card expiry year for plain card transactions. Token expiry year for tokenized card transactions."
          },
          "card_cvv": {
            "type": "string",
            "description": "CVV mentioned on the card."
          },
          "instrument_id": {
            "type": "string",
            "description": "instrument id of saved card. Required only to make payment using saved instrument."
          },
          "cryptogram": {
            "type": "string",
            "description": "cryptogram received from card network. Required only for tokenized card transactions."
          },
          "token_requestor_id": {
            "type": "string",
            "description": "TRID issued by card networks. Required only for tokenized card transactions."
          },
          "token_type": {
            "enum": [
              "ISSUER_TOKEN",
              "NETWORK_GC_TOKEN",
              "ISSUER_GC_TOKEN"
            ],
            "type": "string"
          },
          "card_display": {
            "type": "string",
            "description": "last 4 digits of original card number. Required only for tokenized card transactions."
          },
          "card_alias": {
            "type": "string",
            "description": "Card alias as returned by Cashfree Vault API."
          },
          "card_bank_name": {
            "type": "string",
            "enum": [
              "Kotak",
              "ICICI",
              "RBL",
              "BOB",
              "Standard Chartered"
            ],
            "description": "One of [\"Kotak\", \"ICICI\", \"RBL\", \"BOB\", \"Standard Chartered\"]. Card bank name, required for EMI payments. This is the bank user has selected for EMI"
          },
          "emi_tenure": {
            "type": "integer",
            "description": "EMI tenure selected by the user"
          }
        },
        "required": [
          "channel"
        ]
      },
      "CardArray": {
        "title": "card array",
        "description": "short code for credit card, debit card, prepaid card",
        "type": "string",
        "example": "dc"
      },
      "CardEMI": {
        "title": "CardEMI",
        "description": "Payment method for card emi",
        "example": {
          "channel": "link",
          "card_number": "4111111111111111",
          "card_holder_name": "Tushar Gupta",
          "card_expiry_mm": "06",
          "card_expiry_yy": "22",
          "card_cvv": "900",
          "card_bank_name": "hdfc",
          "emi_tenure": 3
        },
        "type": "object",
        "properties": {
          "channel": {
            "type": "string",
            "description": "The channel for card payments will always be \"link\""
          },
          "card_number": {
            "type": "string",
            "description": "Customer card number."
          },
          "card_holder_name": {
            "type": "string",
            "description": "Customer name mentioned on the card."
          },
          "card_expiry_mm": {
            "type": "string",
            "description": "Card expiry month."
          },
          "card_expiry_yy": {
            "type": "string",
            "description": "Card expiry year."
          },
          "card_cvv": {
            "type": "string",
            "description": "CVV mentioned on the card."
          },
          "card_alias": {
            "type": "string",
            "description": "Card alias as returned by Cashfree Vault API"
          },
          "card_bank_name": {
            "type": "string",
            "enum": [
              "hdfc",
              "kotak",
              "icici",
              "rbl",
              "bob",
              "standard chartered",
              "axis",
              "au",
              "yes",
              "sbi",
              "fed",
              "hsbc",
              "citi",
              "amex"
            ],
            "description": "Card bank name, required for EMI payments. This is the bank user has selected for EMI. One of [\"hdfc, \"kotak\", \"icici\", \"rbl\", \"bob\", \"standard chartered\", \"axis\", \"au\", \"yes\", \"sbi\", \"fed\", \"hsbc\", \"citi\", \"amex\"]"
          },
          "emi_tenure": {
            "type": "integer",
            "description": "EMI tenure selected by the user"
          }
        },
        "required": [
          "channel",
          "card_number",
          "card_expiry_mm",
          "card_expiry_yy",
          "card_cvv",
          "card_bank_name",
          "emi_tenure"
        ]
      },
      "CardEMIPaymentMethod": {
        "title": "CardEMIPaymentMethod",
        "description": "Complete card emi payment method",
        "example": {
          "emi": {
            "channel": "link",
            "card_number": "4111111111111111",
            "card_holder_name": "Tushar Gupta",
            "card_expiry_mm": "06",
            "card_expiry_yy": "22",
            "card_cvv": "900",
            "card_bank_name": "kotak",
            "emi_tenure": 3
          }
        },
        "type": "object",
        "properties": {
          "emi": {
            "$ref": "#/components/schemas/CardEMI"
          }
        },
        "required": [
          "emi"
        ]
      },
      "CardPaymentMethod": {
        "title": "CardPaymentMethod",
        "description": "The card payment object is used to make payment using either plain card number, saved card instrument id or using cryptogram ",
        "example": {
          "card": {
            "channel": "link",
            "card_number": "4111111111111111",
            "card_holder_name": "Tushar Gupta",
            "card_expiry_mm": "06",
            "card_expiry_yy": "22",
            "card_cvv": "900"
          }
        },
        "type": "object",
        "properties": {
          "card": {
            "$ref": "#/components/schemas/Card"
          }
        },
        "required": [
          "card"
        ]
      },
      "CardlessEMI": {
        "title": "CardlessEMI",
        "description": "Request body for cardless emi payment method",
        "example": {
          "channel": "link",
          "provider": "kotak",
          "phone": "7768913241",
          "emi_tenure": 3
        },
        "type": "object",
        "properties": {
          "channel": {
            "type": "string",
            "description": "The channel for cardless EMI is always `link`"
          },
          "provider": {
            "type": "string",
            "enum": [
              "flexmoney",
              "zestmoney",
              "hdfc",
              "icici",
              "cashe",
              "idfc",
              "kotak"
            ],
            "description": "One of [`flexmoney`, `zestmoney`, `hdfc`, `icici`, `cashe`, `idfc`, `kotak`]"
          },
          "phone": {
            "type": "string",
            "description": "Customers phone number for this payment instrument. If the customer is not eligible you will receive a 400 error with type as 'invalid_request_error' and code as 'invalid_request_error'"
          },
          "emi_tenure": {
            "type": "integer",
            "description": "EMI tenure for the selected provider. This is mandatory when provider is one of [`hdfc`, `icici`, `cashe`, `idfc`, `kotak`]"
          }
        }
      },
      "CardlessEMIEntity": {
        "title": "CardlessEMIEntity",
        "description": "cardless EMI object",
        "type": "object",
        "properties": {
          "payment_method": {
            "type": "string",
            "minLength": 3,
            "maxLength": 50,
            "example": "idfc"
          },
          "emi_plans": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EMIPlansArray"
            }
          }
        },
        "example": {
          "payment_method": "idfc",
          "emi_plans": [
            {
              "tenure": 1,
              "interest_rate": 10,
              "currency": "INR",
              "emi": 400,
              "total_interest": 10,
              "total_amount": 40
            }
          ]
        }
      },
      "CardlessEMIPaymentMethod": {
        "title": "CardlessEMIPaymentMethod",
        "description": "cardless EMI payment method object",
        "example": {
          "channel": "link",
          "provider": "flexmoney",
          "phone": 781234121
        },
        "type": "object",
        "properties": {
          "cardless_emi": {
            "$ref": "#/components/schemas/CardlessEMI"
          }
        },
        "required": [
          "cardless_emi"
        ]
      },
      "CardlessEMIQueries": {
        "title": "QueriesObject",
        "type": "object",
        "description": "cardless EMI query object",
        "example": {
          "order_id": "orderYB1X69LgzUQWiSxYDF",
          "amount": 20,
          "customer_details": {
            "customer_phone": "93838393833"
          }
        },
        "properties": {
          "order_id": {
            "type": "string",
            "description": "OrderId of the order. Either of `order_id` or `amount` is mandatory.",
            "minLength": 3,
            "maxLength": 50,
            "format": "string",
            "example": "orderYB1X69LgzUQWiSxYDF"
          },
          "amount": {
            "type": "number",
            "description": "Amount of the order. OrderId of the order. Either of `order_id` or `amount` is mandatory.",
            "minimum": 1,
            "example": 100
          },
          "customer_details": {
            "allOf": [
              {
                "$ref": "#/components/schemas/CustomerDetailsCardlessEMI"
              }
            ],
            "example": {
              "customer_details": {
                "customer_phone": "93838393833"
              }
            }
          }
        }
      },
      "CashbackDetails": {
        "title": "CashbackDetails",
        "description": "Cashback detail boject",
        "example": {
          "cashback_type": "percentage",
          "cashback_value": "20",
          "max_cashback_amount": "150"
        },
        "type": "object",
        "properties": {
          "cashback_type": {
            "type": "string",
            "description": "Type of discount",
            "enum": [
              "flat",
              "percentage"
            ],
            "minLength": 1,
            "maxLength": 50
          },
          "cashback_value": {
            "type": "string",
            "description": "Value of Discount.",
            "minLength": 1,
            "maxLength": 100
          },
          "max_cashback_amount": {
            "type": "string",
            "description": "Maximum Value of Cashback allowed.",
            "minLength": 1,
            "maxLength": 100
          }
        },
        "required": [
          "cashback_type",
          "cashback_value",
          "max_cashback_amount"
        ]
      },
      "CreateLinkRequest": {
        "title": "CreateLinkRequest",
        "description": "Request paramenters for link creation",
        "example": {
          "link_amount": 100,
          "link_currency": "INR",
          "link_minimum_partial_amount": 20,
          "link_id": "my_link_id",
          "link_partial_payments": true,
          "customer_details": {
            "customer_name": "John Doe",
            "customer_phone": "9999999999",
            "customer_email": "john@cashfree.com"
          },
          "link_expiry_time": "2021-10-14T15:04:05+05:30",
          "link_purpose": "Payment for PlayStation 11",
          "link_notify": {
            "$ref": "#/components/schemas/LinkNotifyEntity"
          },
          "link_auto_reminders": true,
          "link_notes": {
            "$ref": "#/components/schemas/LinkNotesEntity"
          },
          "link_meta": {
            "$ref": "#/components/schemas/LinkMetaEntity"
          }
        },
        "type": "object",
        "properties": {
          "link_id": {
            "type": "string",
            "description": "Unique Identifier (provided by merchant) for the Link. Alphanumeric and only - and _ allowed (50 character limit). Use this for other link-related APIs.",
            "maxLength": 50
          },
          "link_amount": {
            "type": "number",
            "format": "double",
            "description": "Amount to be collected using this link. Provide upto two decimals for paise."
          },
          "link_currency": {
            "type": "string",
            "description": "Currency for the payment link. Default is INR. Fill out the [Support Form](https://merchant.cashfree.com/merchants/landing?env=prod&raise_issue=1) to enable new currencies.",
            "minimum": 1
          },
          "link_purpose": {
            "type": "string",
            "description": "A brief description for which payment must be collected. This is shown to the customer.",
            "maxLength": 500
          },
          "customer_details": {
            "$ref": "#/components/schemas/LinkCustomerDetailsEntity"
          },
          "link_partial_payments": {
            "type": "boolean",
            "description": "If \"true\", customer can make partial payments for the link."
          },
          "link_minimum_partial_amount": {
            "type": "number",
            "format": "double",
            "description": "Minimum amount in first installment that needs to be paid by the customer if partial payments are enabled. This should be less than the link_amount."
          },
          "link_expiry_time": {
            "type": "string",
            "description": "Time after which the link expires. Customers will not be able to make the payment beyond the time specified here. You can provide them in a valid ISO 8601 time format. Default is 30 days."
          },
          "link_notify": {
            "$ref": "#/components/schemas/LinkNotifyEntity"
          },
          "link_auto_reminders": {
            "type": "boolean",
            "description": "If \"true\", reminders will be sent to customers for collecting payments."
          },
          "link_notes": {
            "$ref": "#/components/schemas/LinkNotesEntity"
          },
          "link_meta": {
            "$ref": "#/components/schemas/LinkMetaEntity"
          }
        },
        "required": [
          "link_amount",
          "link_currency",
          "link_id",
          "customer_details",
          "link_purpose"
        ]
      },
      "CreateOfferRequest": {
        "title": "CreateOfferRequest",
        "description": "create offer backend request object",
        "type": "object",
        "properties": {
          "offer_meta": {
            "allOf": [
              {
                "$ref": "#/components/schemas/OfferMeta"
              }
            ],
            "example": {
              "$ref": "#/components/schemas/OfferMeta/example"
            }
          },
          "offer_tnc": {
            "allOf": [
              {
                "$ref": "#/components/schemas/OfferTnc"
              }
            ],
            "example": {
              "$ref": "#/components/schemas/OfferTnc/example"
            }
          },
          "offer_details": {
            "allOf": [
              {
                "$ref": "#/components/schemas/OfferDetails"
              }
            ],
            "example": {
              "$ref": "#/components/schemas/OfferDetails/example"
            }
          },
          "offer_validations": {
            "allOf": [
              {
                "$ref": "#/components/schemas/OfferValidations"
              }
            ],
            "example": {
              "$ref": "#/components/schemas/OfferValidations/example"
            }
          }
        },
        "required": [
          "offer_meta",
          "offer_tnc",
          "offer_details",
          "offer_validations"
        ]
      },
      "CreateOrderRequest": {
        "title": "CreateOrderRequest",
        "description": "Request body to create an order at cashfree",
        "type": "object",
        "properties": {
          "order_id": {
            "type": "string",
            "description": "Order identifier present in your system. Alphanumeric, '_' and '-' only",
            "minLength": 3,
            "maxLength": 45,
            "nullable": true,
            "example": "your-order-id"
          },
          "order_amount": {
            "type": "number",
            "description": "Bill amount for the order. Provide upto two decimals. 10.15 means Rs 10 and 15 paisa",
            "format": "double",
            "example": 10.15,
            "minimum": 1
          },
          "order_currency": {
            "type": "string",
            "description": "Currency for the order. INR if left empty. Fill out the [Support Form](https://merchant.cashfree.com/merchants/landing?env=prod&raise_issue=1) to enable new currencies.",
            "example": "INR"
          },
          "customer_details": {
            "allOf": [
              {
                "$ref": "#/components/schemas/CustomerDetails"
              }
            ],
            "example": {
              "customer_id": "7112AAA812234",
              "customer_email": "john@cashfree.com",
              "customer_phone": "9908734801"
            }
          },
          "terminal": {
            "allOf": [
              {
                "$ref": "#/components/schemas/TerminalDetails"
              }
            ],
            "nullable": true,
            "example": {
              "terminal_phone_no": "6309291183",
              "terminal_id": "terminal-1212",
              "terminal_type": "SPOS"
            }
          },
          "order_meta": {
            "allOf": [
              {
                "$ref": "#/components/schemas/OrderMeta"
              }
            ],
            "example": {
              "return_url": "https://example.com?order_id={order_id}",
              "notify_url": "https://example.com/webhook.php",
              "payment_methods": "cc,dc"
            },
            "nullable": true
          },
          "order_expiry_time": {
            "type": "string",
            "format": "ISO8601",
            "description": "Time after which the order expires. Customers will not be able to make the payment beyond the time specified here. We store timestamps in IST, but you can provide them in a valid ISO 8601 time format. Example 2021-07-02T10:20:12+05:30 for IST, 2021-07-02T10:20:12Z for UTC",
            "example": "2021-07-02T10:20:12+05:30"
          },
          "order_note": {
            "type": "string",
            "description": "Order note for reference.",
            "example": "Test order",
            "minLength": 3,
            "maxLength": 200,
            "nullable": true
          },
          "order_tags": {
            "allOf": [
              {
                "$ref": "#/components/schemas/OrderTags"
              }
            ],
            "example": {
              "name": "John Doe",
              "city": "Bangalore"
            },
            "nullable": true
          },
          "order_splits": {
            "type": "array",
            "description": "If you have Easy split enabled in your Cashfree account then you can use this option to split the order amount.",
            "items": {
              "$ref": "#/components/schemas/VendorSplit"
            },
            "nullable": true,
            "example": [
              {
                "amount": 10,
                "vendor": "john"
              }
            ]
          }
        },
        "required": [
          "order_amount",
          "order_currency",
          "customer_details"
        ]
      },
      "CreateTerminalRequest": {
        "title": "Create Terminal",
        "description": "Request body to create a terminal",
        "example": {
          "terminal_id": "someTerminalID",
          "terminal_name": "Jane Doe",
          "terminal_email": "john@cashfree.com",
          "terminal_meta": null,
          "terminal_type": "STOREFRONT",
          "terminal_phone_no": "9876543210",
          "terminal_note": "POS Vertical",
          "terminal_address": "Bangalore"
        },
        "type": "object",
        "properties": {
          "terminal_id": {
            "type": "string",
            "description": "merchant’s internal terminal id",
            "minLength": 3,
            "maxLength": 100
          },
          "terminal_phone_no": {
            "type": "string",
            "description": "phone number assigned to the terminal",
            "minLength": 10,
            "maxLength": 10
          },
          "terminal_name": {
            "type": "string",
            "description": "terminal name to be assigned by merchants",
            "minLength": 3,
            "maxLength": 100
          },
          "terminal_address": {
            "type": "string",
            "description": "address of the terminal. required for STOREFRONT",
            "minLength": 1,
            "maxLength": 100
          },
          "terminal_email": {
            "type": "string",
            "description": "terminal email ID of the AGENT/STOREFRONT assigned by merchants.",
            "minLength": 1,
            "maxLength": 100
          },
          "terminal_note": {
            "type": "string",
            "description": "additional note for terminal",
            "minLength": 1,
            "maxLength": 100
          },
          "terminal_type": {
            "type": "string",
            "description": "mention the terminal type. possible values - AGENT, STOREFRONT.",
            "minLength": 1,
            "maxLength": 100
          },
          "terminal_meta": {
            "type": "object",
            "description": "terminal metadata. required field for storefront.",
            "properties": {
              "terminal_operator": {
                "description": "name of the STOREFRONT operator.",
                "type": "string"
              }
            }
          }
        },
        "required": [
          "terminal_id",
          "terminal_email",
          "terminal_type",
          "terminal_phone_no",
          "terminal_name"
        ]
      },
      "CreateTerminalTransactionRequest": {
        "title": "Create Terminal Transaction",
        "description": "Request body to create a terminal transaction",
        "example": {
          "cf_order_id": 12345,
          "cf_terminal_id": 54321,
          "payment_method": "john@cashfree.com",
          "terminal_phone_no": "9898989898"
        },
        "type": "object",
        "properties": {
          "cf_order_id": {
            "type": "integer",
            "format": "int64",
            "description": "cashfree order ID that was returned while creating an order."
          },
          "cf_terminal_id": {
            "type": "integer",
            "format": "int64",
            "description": "cashfree terminal id. this is a required parameter when you do not provide the terminal phone number."
          },
          "payment_method": {
            "type": "string",
            "description": "mention the payment method used for the transaction. possible values - QR_CODE, LINK.",
            "minLength": 3,
            "maxLength": 100
          },
          "terminal_phone_no": {
            "type": "string",
            "description": "agent mobile number assigned to the terminal. this is a required parameter when you do not provide the cf_terminal_id.",
            "minLength": 10,
            "maxLength": 10
          }
        },
        "required": [
          "cf_order_id",
          "payment_method"
        ]
      },
      "CryptogramEntity": {
        "title": "CryptogramEntity",
        "description": "Crytogram Card object",
        "example": {
          "instrument_id": "54deabb4-ba45-4a60-9e6a-9c016fe7ab10",
          "token_requestor_id": "22457512314",
          "card_number": "4491365621601472",
          "card_expiry_mm": "06",
          "card_expiry_yy": "2025",
          "cryptogram": "AQBBBBBBZatIlaIAmWKSghwBBBB=",
          "card_display": "1234"
        },
        "properties": {
          "instrument_id": {
            "type": "string",
            "description": "instrument_id of saved instrument"
          },
          "token_requestor_id": {
            "type": "string",
            "description": "TRID issued by card networks"
          },
          "card_number": {
            "type": "string",
            "description": "token pan number"
          },
          "card_expiry_mm": {
            "type": "string",
            "description": "token pan expiry month"
          },
          "card_expiry_yy": {
            "type": "string",
            "description": "token pan expiry year"
          },
          "cryptogram": {
            "type": "string",
            "description": "cryptogram"
          },
          "card_display": {
            "type": "string",
            "description": "last 4 digits of original card number"
          }
        }
      },
      "CustomerDetails": {
        "title": "CustomerDetails",
        "description": "The customer details that are necessary. Note that you can pass dummy details if your use case does not require the customer details.",
        "example": {
          "customer_id": "7112AAA812234",
          "customer_email": "john@cashfree.com",
          "customer_phone": "9908734801",
          "customer_name": "John Doe",
          "customer_bank_account_number": "1518121112",
          "customer_bank_ifsc": "XITI0000001",
          "customer_bank_code": 3333
        },
        "type": "object",
        "properties": {
          "customer_id": {
            "type": "string",
            "description": "A unique identifier for the customer. Use alphanumeric values only.",
            "minLength": 3,
            "maxLength": 50
          },
          "customer_email": {
            "type": "string",
            "description": "Customer email address.",
            "minLength": 3,
            "maxLength": 100,
            "nullable": true
          },
          "customer_phone": {
            "type": "string",
            "description": "Customer phone number.",
            "minLength": 10,
            "maxLength": 10
          },
          "customer_name": {
            "type": "string",
            "description": "Name of the customer.",
            "minLength": 3,
            "maxLength": 100,
            "nullable": true
          },
          "customer_bank_account_number": {
            "type": "string",
            "description": "Customer bank account. Required if you want to do a bank account check (TPV)",
            "minLength": 3,
            "maxLength": 20,
            "nullable": true
          },
          "customer_bank_ifsc": {
            "type": "string",
            "description": "Customer bank IFSC. Required if you want to do a bank account check (TPV)",
            "nullable": true
          },
          "customer_bank_code": {
            "type": "number",
            "nullable": true,
            "description": "Customer bank code. Required for net banking payments, if you want to do a bank account check (TPV)"
          }
        },
        "required": [
          "customer_id",
          "customer_phone"
        ]
      },
      "CustomerDetailsCardlessEMI": {
        "title": "CustomerDetailsObject",
        "description": "Details of the customer for whom eligibility is being checked.",
        "type": "object",
        "example": {
          "customer_phone": "9898989898"
        },
        "properties": {
          "customer_phone": {
            "type": "string",
            "description": "Phone Number of the customer",
            "minLength": 3,
            "maxLength": 50,
            "example": "9898989898"
          }
        },
        "required": [
          "customer_phone"
        ]
      },
      "DiscountDetails": {
        "title": "DiscountDetails",
        "description": "detils of the discount object of offer",
        "example": {
          "discount_type": "flat",
          "discount_value": "10",
          "max_discount_amount": "10"
        },
        "type": "object",
        "properties": {
          "discount_type": {
            "type": "string",
            "description": "Type of discount",
            "enum": [
              "flat",
              "percentage"
            ],
            "minLength": 3,
            "maxLength": 50
          },
          "discount_value": {
            "type": "string",
            "description": "Value of Discount.",
            "minLength": 1,
            "maxLength": 100
          },
          "max_discount_amount": {
            "type": "string",
            "description": "Maximum Value of Discount allowed.",
            "minLength": 1,
            "maxLength": 100
          }
        },
        "required": [
          "discount_type",
          "discount_value",
          "max_discount_amount"
        ]
      },
      "EMIPlansArray": {
        "title": "EMIPlansArray",
        "description": "Single EMI object",
        "type": "object",
        "properties": {
          "tenure": {
            "type": "integer",
            "example": 3
          },
          "interest_rate": {
            "type": "number",
            "example": 24
          },
          "currency": {
            "type": "string",
            "minLength": 3,
            "maxLength": 50,
            "example": "INR"
          },
          "emi": {
            "type": "integer",
            "example": 3468
          },
          "total_interest": {
            "type": "integer",
            "example": 404
          },
          "total_amount": {
            "type": "integer",
            "example": 10404
          }
        }
      },
      "EligibilityCardlessEMIEntity": {
        "title": "EligibilityCardlessEMIEntity",
        "description": "Carless EMI eligible entity",
        "type": "object",
        "properties": {
          "eligibility": {
            "type": "boolean",
            "example": true
          },
          "entity_type": {
            "type": "string",
            "example": "cardlessemi"
          },
          "entity_value": {
            "type": "string",
            "example": "idfc"
          },
          "entity_details": {
            "allOf": [
              {
                "$ref": "#/components/schemas/CardlessEMIEntity"
              }
            ],
            "example": {
              "$ref": "#/components/schemas/CardlessEMIEntity/example"
            }
          }
        }
      },
      "EligibilityFetchCardlessEMIRequest": {
        "title": "EligibilityFetchCardlessEMIRequest",
        "description": "eligibilty request for cardless",
        "example": {
          "queries": {
            "$ref": "#/components/schemas/CardlessEMIQueries/example"
          }
        },
        "type": "object",
        "properties": {
          "queries": {
            "$ref": "#/components/schemas/CardlessEMIQueries"
          }
        },
        "required": [
          "queries"
        ]
      },
      "EligibilityFetchOffersRequest": {
        "title": "EligibilityFetchOffersRequest",
        "type": "object",
        "description": "Eligiblty API request",
        "example": {
          "queries": {
            "$ref": "#/components/schemas/OfferQueries/example"
          }
        },
        "properties": {
          "queries": {
            "$ref": "#/components/schemas/OfferQueries"
          },
          "filters": {
            "$ref": "#/components/schemas/OfferFilters"
          }
        },
        "required": [
          "queries"
        ]
      },
      "EligibilityFetchPaylaterRequest": {
        "title": "EligibilityFetchPaylaterRequest",
        "description": "Request to get eligible paylater payment methods",
        "example": {
          "queries": {
            "$ref": "#/components/schemas/CardlessEMIQueries/example"
          }
        },
        "type": "object",
        "properties": {
          "queries": {
            "$ref": "#/components/schemas/CardlessEMIQueries"
          }
        },
        "required": [
          "queries"
        ]
      },
      "EligibilityFetchPaymentMethodsRequest": {
        "title": "EligibilityFetchPaymentMethodsRequest",
        "description": "eligibilty request to find eligible payment method",
        "example": {
          "queries": {
            "$ref": "#/components/schemas/PaymentMethodsQueries/example"
          },
          "filters": {
            "$ref": "#/components/schemas/PaymentMethodsFilters/example"
          }
        },
        "type": "object",
        "properties": {
          "queries": {
            "$ref": "#/components/schemas/PaymentMethodsQueries"
          },
          "filters": {
            "$ref": "#/components/schemas/PaymentMethodsFilters"
          }
        },
        "required": [
          "queries"
        ]
      },
      "EligibilityOfferEntity": {
        "title": "EligibilityOfferEntity",
        "description": "Eligible offer object",
        "type": "object",
        "properties": {
          "eligibility": {
            "type": "boolean",
            "example": true
          },
          "entity_type": {
            "type": "string",
            "example": "offers"
          },
          "entity_value": {
            "type": "string",
            "example": "d2b430fb-1afe-455a-af31-66d00377b29a"
          },
          "entity_details": {
            "allOf": [
              {
                "$ref": "#/components/schemas/OfferEntity"
              }
            ],
            "example": {
              "$ref": "#/components/examples/offer_entity_example/value/0"
            }
          }
        }
      },
      "EligibilityPaylaterEntity": {
        "title": "EligibilityPaylaterEntity",
        "description": "Eligible paylater payment method",
        "type": "object",
        "properties": {
          "eligibility": {
            "type": "boolean",
            "example": true
          },
          "entity_type": {
            "type": "string",
            "example": "paylater"
          },
          "entity_value": {
            "type": "string",
            "example": "olapostpaid"
          },
          "entity_details": {
            "allOf": [
              {
                "$ref": "#/components/schemas/PaylaterEntity"
              }
            ],
            "example": {
              "payment_method": {
                "type": "string",
                "example": "olapostpaid"
              }
            }
          }
        }
      },
      "EligibilityPaymentMethodsEntity": {
        "title": "EligibilityPaymentMethodsEntity",
        "description": "Eligible payment methods details",
        "type": "object",
        "properties": {
          "eligibility": {
            "type": "boolean",
            "example": true
          },
          "entity_type": {
            "type": "string",
            "example": "payment_methods"
          },
          "entity_value": {
            "type": "string",
            "example": "netbanking"
          },
          "entity_details": {
            "type": "object",
            "properties": {
              "payment_method_details": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/PaymentModeDetails"
                }
              }
            },
            "example": {
              "payment_method_details": [
                {
                  "nick": "motak_kahindra_bank",
                  "display": "Motak Kahindra Bank",
                  "eligibility": true,
                  "code": 3032
                },
                {
                  "nick": "bank_of_india",
                  "display": "Bank Of India",
                  "eligibility": true,
                  "code": 3031
                }
              ]
            }
          }
        }
      },
      "ErrorDetailsInPaymentsEntity": {
        "title": "ErrorDetailsInPayments",
        "description": "The error details are present only for failed payments",
        "example": {
          "error_code": "TRANSACTION_DECLINED",
          "error_description": "issuer bank or payment service provider declined the transaction",
          "error_reason": "auth_declined",
          "error_source": "customer",
          "error_code_raw": "ZM",
          "error_description_raw": "INVALID / INCORRECT MPIN",
          "error_subcode_raw": ""
        },
        "type": "object",
        "properties": {
          "error_code": {
            "type": "string"
          },
          "error_description": {
            "type": "string"
          },
          "error_reason": {
            "type": "string"
          },
          "error_source": {
            "type": "string"
          },
          "error_code_raw": {
            "type": "string"
          },
          "error_description_raw": {
            "type": "string"
          },
          "error_subcode_raw": {
            "type": "string"
          }
        }
      },
      "FetchReconRequest": {
        "type": "object",
        "description": "Recon object",
        "example": {
          "pagination": {
            "limit": 10,
            "cursor": "eyJzZWFyY2hBZnRlciI6eyJsaXN0IjpbMTg4NjcxNDVdLCJlbXB0eSI6ZmFsc2V9LCJyZWNvbkFQSVR5cGUiOiJMRURHRVIifQ=="
          },
          "filters": {
            "start_date": "2022-07-20T00:00:00Z",
            "end_date": "2022-07-21T23:59:59Z"
          }
        },
        "properties": {
          "pagination": {
            "type": "object",
            "properties": {
              "limit": {
                "type": "integer",
                "description": "Number of settlements you want to fetch in the next iteration. Maximum limit is 1000, default value is 10."
              },
              "cursor": {
                "type": "string",
                "nullable": true,
                "description": "Specifies from where the next set of settlement details should be fetched."
              }
            },
            "description": "To fetch the next set of settlements, pass the cursor received in the response to the next API call. \n To receive the data for the first time, pass the cursor as null. \n Limit would be number of settlements that you want to receive.",
            "required": [
              "limit"
            ]
          },
          "filters": {
            "type": "object",
            "properties": {
              "start_date": {
                "type": "string",
                "description": "Specify the start date from when you want the settlement reconciliation details."
              },
              "end_date": {
                "type": "string",
                "description": "Specify the end date till when you want the settlement reconciliation details."
              }
            },
            "required": [
              "start_date",
              "end_date"
            ]
          }
        },
        "required": [
          "pagination",
          "filters"
        ]
      },
      "FetchSettlementsRequest": {
        "type": "object",
        "description": "Request to fetch settlement",
        "example": {
          "pagination": {
            "limit": 10,
            "cursor": "eyJzZWFyY2hBZnRlciI6eyJsaXN0IjpbMTg4NjcxNDVdLCJlbXB0eSI6ZmFsc2V9LCJyZWNvbkFQSVR5cGUiOiJMRURHRVIifQ=="
          },
          "filters": {
            "cf_settlement_ids": [
              4234233
            ],
            "settlement_utrs": [
              "utr1",
              "utr2"
            ],
            "start_date": "2022-07-20T00:00:00Z",
            "end_date": "2022-07-21T23:59:59Z"
          }
        },
        "properties": {
          "pagination": {
            "type": "object",
            "properties": {
              "limit": {
                "type": "integer",
                "description": "The number of settlements you want to fetch. Maximum limit is 1000, default value is 10."
              },
              "cursor": {
                "type": "string",
                "description": "Specifies from where the next set of settlement details should be fetched."
              }
            },
            "description": "To fetch the next set of settlements, pass the cursor received in the response to the next API call. \n To receive the data for the first time, pass the cursor as null. \n Limit would be number of settlements that you want to receive.",
            "required": [
              "limit"
            ]
          },
          "filters": {
            "type": "object",
            "properties": {
              "cf_settlement_ids": {
                "type": "array",
                "items": {
                  "type": "integer",
                  "format": "int64"
                },
                "description": "List of settlement IDs for which you want the settlement reconciliation details."
              },
              "settlement_utrs": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "List of settlement UTRs for which you want the settlement reconciliation details."
              },
              "start_date": {
                "type": "string",
                "description": "Specify the start date from when you want the settlement reconciliation details."
              },
              "end_date": {
                "type": "string",
                "description": "Specify the end date till when you want the settlement reconciliation details."
              }
            },
            "description": "Specify either the Settlement ID, Settlement UTR, or start date and end date to fetch the settlement details."
          }
        },
        "required": [
          "pagination",
          "filters"
        ]
      },
      "FetchTerminalQRCodesEntity": {
        "title": "FetchTerminalQRCodesEntity",
        "description": "Fetch Static QR Codes using terminal ID or phone number",
        "example": {
          "bank": "SIM",
          "qrCode": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAQAAAAEAAQMAAABmvDolAAAABlBMVEX///",
          "qrCodeUrl": "upi://pay?cu=INR&pa=cf.vpa-epos-gamma202601415xwtvf9",
          "status": "ACTIVE"
        },
        "type": "object",
        "properties": {
          "bank": {
            "type": "string",
            "description": "Name of the bank that is linked to the Static QR."
          },
          "qrCode": {
            "type": "string",
            "description": "Base-64 Encoded QR Code URL"
          },
          "qrCodeUrl": {
            "type": "string",
            "description": "URL of the qr Code."
          },
          "status": {
            "type": "string",
            "description": "Status of the static QR."
          }
        }
      },
      "IdempotencyError": {
        "title": "IdempotencyError",
        "description": "Error when idempotency fails. Different request body with the same idempotent key",
        "example": {
          "message": "something is not found",
          "code": "request_invalid",
          "type": "idempotency_error"
        },
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "idempotency_error"
            ],
            "description": "idempotency_error"
          }
        }
      },
      "InstrumentEntity": {
        "title": "InstrumentEntity",
        "description": "Saved card instrument object",
        "example": {
          "customer_id": "siddhesh_desai",
          "afa_reference": "740324562",
          "instrument_id": "54deabb4-ba45-4a60-9e6a-9c016fe7ab10",
          "instrument_type": "card",
          "instrument_uid": "0d8f70838cc5af8b1cd2bc0fe71278551fd3f1101e40020d89ad22ceba4f933c",
          "instrument_display": "xxxxxxxxxxxx4375",
          "instrument_status": "ACTIVE",
          "created_at": "2021-11-11 16:57:57",
          "instrument_meta": {
            "card_network": "VISA",
            "card_bank_name": "HDFC Bank Limited",
            "card_country": "IN",
            "card_type": "DEBIT_CARD",
            "card_token_details": {
              "par": "somepar",
              "expiry_month": "12",
              "expiry_year": "23"
            }
          }
        },
        "properties": {
          "customer_id": {
            "type": "string",
            "description": "customer_id for which the instrument was saved"
          },
          "afa_reference": {
            "type": "string",
            "description": "cf_payment_id of the successful transaction done while saving instrument"
          },
          "instrument_id": {
            "type": "string",
            "description": "saved instrument id"
          },
          "instrument_type": {
            "type": "string",
            "enum": [
              "card"
            ],
            "description": "Type of the saved instrument"
          },
          "instrument_uid": {
            "type": "string",
            "description": "Unique id for the saved instrument"
          },
          "instrument_display": {
            "type": "string",
            "description": "masked card number displayed to the customer"
          },
          "instrument_status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "INACTIVE"
            ],
            "description": "Status of the saved instrument."
          },
          "created_at": {
            "type": "string",
            "description": "Timestamp at which instrument was saved."
          },
          "instrument_meta": {
            "$ref": "#/components/schemas/SavedInstrumentMeta"
          }
        }
      },
      "LinkCustomerDetailsEntity": {
        "title": "customer_details",
        "description": "Payment link customer entity",
        "type": "object",
        "example": {
          "customer_name": "John Doe",
          "customer_phone": "9999999999",
          "customer_email": "john@cashfree.com"
        },
        "properties": {
          "customer_phone": {
            "type": "string",
            "description": "Customer phone number"
          },
          "customer_email": {
            "type": "string",
            "description": "Customer email address"
          },
          "customer_name": {
            "type": "string",
            "description": "Customer name"
          }
        },
        "required": [
          "customer_phone"
        ]
      },
      "LinkEntity": {
        "title": "LinkEntity",
        "description": "Payment link success creation response object",
        "type": "object",
        "example": {
          "cf_link_id": 1996567,
          "link_id": "my_link_id",
          "link_status": "ACTIVE",
          "link_currency": "INR",
          "link_amount": 100,
          "link_amount_paid": 0,
          "link_partial_payments": true,
          "link_minimum_partial_amount": 20,
          "link_purpose": "Payment for PlayStation 11",
          "link_created_at": "2021-09-30T17:05:01+05:30",
          "customer_details": {
            "customer_name": "John Doe",
            "customer_phone": "9999999999",
            "customer_email": "john@example.com"
          },
          "link_meta": {
            "$ref": "#/components/schemas/LinkMetaResponseEntity"
          },
          "link_url": "https://payments-test.cashfree.com/links/o1tf1nvcvjhg",
          "link_expiry_time": "2021-10-14T15:04:05+05:30",
          "link_notes": {
            "$ref": "#/components/schemas/LinkNotesEntity"
          },
          "link_auto_reminders": true,
          "link_notify": {
            "$ref": "#/components/schemas/LinkNotifyEntity"
          }
        },
        "properties": {
          "cf_link_id": {
            "type": "integer",
            "format": "int64"
          },
          "link_id": {
            "type": "string"
          },
          "link_status": {
            "type": "string"
          },
          "link_currency": {
            "type": "string"
          },
          "link_amount": {
            "type": "number"
          },
          "link_amount_paid": {
            "type": "number"
          },
          "link_partial_payments": {
            "type": "boolean"
          },
          "link_minimum_partial_amount": {
            "type": "number"
          },
          "link_purpose": {
            "type": "string"
          },
          "link_created_at": {
            "type": "string"
          },
          "customer_details": {
            "$ref": "#/components/schemas/LinkCustomerDetailsEntity"
          },
          "link_meta": {
            "$ref": "#/components/schemas/LinkMetaResponseEntity"
          },
          "link_url": {
            "type": "string"
          },
          "link_expiry_time": {
            "type": "string"
          },
          "link_notes": {
            "$ref": "#/components/schemas/LinkNotesEntity"
          },
          "link_auto_reminders": {
            "type": "boolean"
          },
          "link_notify": {
            "$ref": "#/components/schemas/LinkNotifyEntity"
          }
        }
      },
      "LinkMetaEntity": {
        "title": "link_meta",
        "description": "Payment link meta information object",
        "type": "object",
        "example": {
          "notify_url": "https://ee08e626ecd88c61c85f5c69c0418cb5.m.pipedream.net",
          "upi_intent": false,
          "return_url": "https://b8af79f41056.eu.ngrok.io"
        },
        "properties": {
          "notify_url": {
            "type": "string",
            "description": "Notification URL for server-server communication. It should be an https URL."
          },
          "upi_intent": {
            "type": "boolean",
            "description": "If \"true\", link will directly open UPI Intent flow on mobile, and normal link flow elsewhere"
          },
          "return_url": {
            "type": "string",
            "description": "The URL to which user will be redirected to after the payment is done on the link. Maximum length: 250."
          },
          "payment_methods": {
            "type": "string",
            "description": "Allowed payment modes for this link. Pass comma-separated values among following options - \"cc\", \"dc\", \"ccc\", \"ppc\", \"nb\", \"upi\", \"paypal\", \"app\". Leave it blank to show all available payment methods"
          }
        }
      },
      "LinkNotesEntity": {
        "title": "link_notes",
        "type": "object",
        "description": "Key-value pair that can be used to store additional information about the entity. Maximum 5 key-value pairs",
        "example": {
          "key_1": "value_1",
          "key_2": "value_2"
        },
        "additionalProperties": {
          "type": "string"
        }
      },
      "LinkMetaResponseEntity": {
        "title": "link_meta",
        "type": "object",
        "description": "Payment link meta information object.",
        "example": {
          "key_1": "value_1",
          "key_2": "value_2"
        },
        "additionalProperties": {
          "type": "string"
        }
      },
      "LinkNotifyEntity": {
        "title": "link_notify",
        "type": "object",
        "description": "Payment link Notify Object for SMS and Email",
        "example": {
          "send_sms": false,
          "send_email": true
        },
        "properties": {
          "send_sms": {
            "type": "boolean",
            "description": "If \"true\", Cashfree will send sms on customer_phone"
          },
          "send_email": {
            "type": "boolean",
            "description": "If \"true\", Cashfree will send email on customer_email"
          }
        }
      },
      "MethodsType": {
        "title": "MethodsType",
        "type": "string",
        "description": "Methods Type Object"
      },
      "NetBankingPaymentMethod": {
        "title": "NetBankingPaymentMethod",
        "description": "Payment method for netbanking object",
        "example": {
          "netbanking": {
            "channel": "link",
            "netbanking_bank_code": 3022
          }
        },
        "type": "object",
        "properties": {
          "netbanking": {
            "$ref": "#/components/schemas/Netbanking"
          }
        },
        "required": [
          "netbanking"
        ]
      },
      "Netbanking": {
        "title": "Netbanking",
        "description": "Netbanking payment method request body",
        "example": {
          "channel": "link",
          "netbanking_bank_code": 3022
        },
        "type": "object",
        "properties": {
          "channel": {
            "type": "string",
            "description": "The channel for netbanking will always be `link`"
          },
          "netbanking_bank_code": {
            "type": "integer",
            "format": "int32",
            "description": "Bank code",
            "pattern": "^\\d{4}$"
          },
          "netbanking_bank_name": {
            "type": "string",
            "format": "BANKR",
            "description": "String code for bank",
            "pattern": "^[A-Z]{5}$"
          }
        },
        "required": [
          "channel"
        ]
      },
      "OfferAll": {
        "title": "All Offers",
        "description": "returns all offers",
        "example": {
          "all": {}
        },
        "type": "object",
        "properties": {
          "all": {
            "$ref": "#/components/schemas/AllOffers"
          }
        },
        "required": [
          "all"
        ]
      },
      "OfferCard": {
        "title": "Card Offer",
        "description": "Offers related to cards",
        "example": {
          "card": {
            "type": [
              "cc"
            ],
            "bank_name": "hdfc bank",
            "scheme_name": [
              "visa"
            ]
          }
        },
        "type": "object",
        "properties": {
          "card": {
            "title": "Card Offer",
            "type": "object",
            "properties": {
              "type": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CardArray"
                }
              },
              "bank_name": {
                "type": "string",
                "description": "Bank Name of Card.",
                "minLength": 3,
                "maxLength": 100,
                "example": "hdfc bank"
              },
              "scheme_name": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SchemeArray"
                }
              }
            },
            "required": [
              "type",
              "bank_name",
              "scheme_name"
            ]
          }
        },
        "required": [
          "card"
        ]
      },
      "OfferDetails": {
        "title": "OfferDetails",
        "description": "Offer details and type",
        "type": "object",
        "example": {
          "offer_type": "DISCOUNT_AND_CASHBACK",
          "discount_details": {
            "discount_type": "flat",
            "discount_value": "10",
            "max_discount_amount": "10"
          },
          "cashback_details": {
            "cashback_type": "percentage",
            "cashback_value": "20",
            "max_cashback_amount": "150"
          }
        },
        "properties": {
          "offer_type": {
            "type": "string",
            "description": "Offer Type for the Offer.",
            "enum": [
              "DISCOUNT",
              "CASHBACK",
              "DISCOUNT_AND_CASHBACK",
              "NO_COST_EMI"
            ],
            "minLength": 3,
            "maxLength": 50,
            "example": "DISCOUNT_AND_CASHBACK"
          },
          "discount_details": {
            "$ref": "#/components/schemas/DiscountDetails"
          },
          "cashback_details": {
            "$ref": "#/components/schemas/CashbackDetails"
          }
        },
        "required": [
          "offer_type"
        ]
      },
      "OfferEMI": {
        "title": "EMI Offer",
        "description": "EMI offer object",
        "type": "object",
        "example": {
          "emi": {
            "type": "cardless_emi",
            "issuer": "hdfc bank",
            "tenures": [
              3,
              6
            ]
          }
        },
        "properties": {
          "emi": {
            "title": "EMI Offer",
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "description": "Type of emi offer. Possible values are `credit_card_emi`, `debit_card_emi`, `cardless_emi`",
                "minLength": 3,
                "maxLength": 100,
                "example": "cardless_emi"
              },
              "issuer": {
                "type": "string",
                "description": "Bank Name",
                "minLength": 3,
                "maxLength": 100,
                "example": "hdfc bank"
              },
              "tenures": {
                "type": "array",
                "items": {
                  "title": "Tenure Array",
                  "type": "integer",
                  "example": 3
                }
              }
            },
            "required": [
              "type",
              "issuer",
              "tenures"
            ]
          }
        },
        "required": [
          "emi"
        ]
      },
      "OfferEntity": {
        "title": "OfferEntity",
        "type": "object",
        "description": "Offer entity object",
        "properties": {
          "offer_id": {
            "type": "string",
            "example": "d2b430fb-1afe-455a-af31-66d00377b29a"
          },
          "offer_status": {
            "type": "string",
            "example": "active"
          },
          "offer_meta": {
            "allOf": [
              {
                "$ref": "#/components/schemas/OfferMeta"
              }
            ],
            "example": {
              "$ref": "#/components/schemas/OfferMeta/example"
            }
          },
          "offer_tnc": {
            "allOf": [
              {
                "$ref": "#/components/schemas/OfferTnc"
              }
            ],
            "example": {
              "$ref": "#/components/schemas/OfferTnc/example"
            }
          },
          "offer_details": {
            "allOf": [
              {
                "$ref": "#/components/schemas/OfferDetails"
              }
            ],
            "example": {
              "$ref": "#/components/schemas/OfferDetails/example"
            }
          },
          "offer_validations": {
            "allOf": [
              {
                "$ref": "#/components/schemas/OfferValidations"
              }
            ],
            "example": {
              "$ref": "#/components/schemas/OfferValidations/example"
            }
          }
        }
      },
      "OfferFilters": {
        "title": "OfferFilters",
        "type": "object",
        "description": "Filter for offers",
        "properties": {
          "offer_type": {
            "type": "array",
            "description": "Array of offer_type to be filtered.",
            "items": {
              "$ref": "#/components/schemas/OfferType"
            }
          }
        },
        "example": {
          "offer_type": [
            "DISCOUNT_AND_CASHBACK",
            "DISCOUNT"
          ]
        }
      },
      "OfferMeta": {
        "title": "OfferMeta",
        "type": "object",
        "description": "Offer meta details object",
        "example": {
          "offer_title": "some title",
          "offer_description": "some offer description",
          "offer_code": "CFTESTOFFER",
          "offer_start_time": "2023-03-21T08:09:51Z",
          "offer_end_time": "2023-03-29T08:09:51Z"
        },
        "properties": {
          "offer_title": {
            "type": "string",
            "description": "Title for the Offer.",
            "minLength": 3,
            "maxLength": 50,
            "example": "Test Offer"
          },
          "offer_description": {
            "type": "string",
            "description": "Description for the Offer.",
            "minLength": 3,
            "maxLength": 100,
            "example": "Lorem ipsum dolor sit amet, consectetur adipiscing elit"
          },
          "offer_code": {
            "type": "string",
            "description": "Unique identifier for the Offer.",
            "minLength": 1,
            "maxLength": 45,
            "example": "CFTESTOFFER"
          },
          "offer_start_time": {
            "type": "string",
            "description": "Start Time for the Offer",
            "minLength": 3,
            "maxLength": 20,
            "example": "2023-03-21T08:09:51Z"
          },
          "offer_end_time": {
            "type": "string",
            "description": "Expiry Time for the Offer",
            "example": "2023-03-29T08:09:51Z"
          }
        },
        "required": [
          "offer_title",
          "offer_description",
          "offer_code",
          "offer_start_time",
          "offer_end_time"
        ]
      },
      "OfferNB": {
        "title": "Net Banking Offer",
        "description": "Offer object ofr NetBanking",
        "example": {
          "netbanking": {
            "bank_name": "hdfc bank"
          }
        },
        "type": "object",
        "properties": {
          "netbanking": {
            "type": "object",
            "properties": {
              "bank_name": {
                "type": "string",
                "example": "all"
              }
            }
          }
        },
        "required": [
          "netbanking"
        ]
      },
      "OfferPaylater": {
        "title": "Paylater Offer",
        "description": "Offer object for paylater",
        "example": {
          "paylater": {
            "issuer": "lazypay"
          }
        },
        "type": "object",
        "properties": {
          "paylater": {
            "title": "Paylater Offer",
            "type": "object",
            "properties": {
              "provider": {
                "type": "string",
                "example": "simpl"
              }
            }
          }
        },
        "required": [
          "paylater"
        ]
      },
      "OfferQueries": {
        "title": "OfferQueries",
        "description": "Offer Query Object",
        "type": "object",
        "example": {
          "order_id": "order_413462PK1RI1IwYB1X69LgzUQWiSxYDF",
          "amount": 100
        },
        "properties": {
          "order_id": {
            "type": "string",
            "description": "OrderId of the order. Either of `order_id` or `order_amount` is mandatory.",
            "minLength": 3,
            "maxLength": 50,
            "format": "string",
            "example": "order_413462PK1RI1IwYB1X69LgzUQWiSxYDF"
          },
          "amount": {
            "type": "number",
            "description": "Amount of the order. OrderId of the order. Either of `order_id` or `order_amount` is mandatory.",
            "minimum": 1,
            "example": 100
          }
        }
      },
      "OfferTnc": {
        "title": "OfferMeta",
        "type": "object",
        "description": "Offer terms and condition object",
        "example": {
          "offer_tnc_type": "text",
          "offer_tnc_value": "TnC for the Offer."
        },
        "properties": {
          "offer_tnc_type": {
            "type": "string",
            "description": "TnC Type for the Offer. It can be either `text` or `link`",
            "enum": [
              "text",
              "link"
            ],
            "minLength": 3,
            "maxLength": 50,
            "example": "text"
          },
          "offer_tnc_value": {
            "type": "string",
            "description": "TnC for the Offer.",
            "minLength": 3,
            "maxLength": 100,
            "example": "Lorem ipsum dolor sit amet, consectetur adipiscing elit"
          }
        },
        "required": [
          "offer_tnc_type",
          "offer_tnc_value"
        ]
      },
      "OfferType": {
        "title": "OfferType",
        "type": "string",
        "description": "Offer Type Object",
        "example": "DISCOUNT_AND_CASHBACK",
        "enum": [
          "DISCOUNT",
          "CASHBACK",
          "DISCOUNT_AND_CASHBACK",
          "NO_COST_EMI"
        ]
      },
      "OfferUPI": {
        "title": "UPI Offer",
        "description": "Offer object for UPI",
        "example": {
          "upi": {}
        },
        "type": "object",
        "properties": {
          "upi": {
            "title": "UPI Offer",
            "type": "object"
          }
        },
        "required": [
          "upi"
        ]
      },
      "OfferValidations": {
        "title": "OfferValidations",
        "description": "Offer validation object",
        "type": "object",
        "example": {
          "min_amount": 10,
          "payment_method": {
            "wallet": {
              "issuer": "paytm"
            }
          },
          "max_allowed": 2
        },
        "properties": {
          "min_amount": {
            "type": "number",
            "description": "Minimum Amount for Offer to be Applicable",
            "minimum": 1,
            "example": 1
          },
          "payment_method": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/OfferAll"
              },
              {
                "$ref": "#/components/schemas/OfferCard"
              },
              {
                "$ref": "#/components/schemas/OfferNB"
              },
              {
                "$ref": "#/components/schemas/OfferWallet"
              },
              {
                "$ref": "#/components/schemas/OfferUPI"
              },
              {
                "$ref": "#/components/schemas/OfferPaylater"
              },
              {
                "$ref": "#/components/schemas/OfferEMI"
              }
            ],
            "example": {
              "wallet": {
                "issuer": "paytm"
              }
            }
          },
          "max_allowed": {
            "type": "number",
            "description": "Maximum amount of Offer that can be availed.",
            "minimum": 1,
            "example": 10
          }
        },
        "required": [
          "max_allowed",
          "payment_method"
        ]
      },
      "OfferWallet": {
        "title": "Wallet Offer",
        "description": "Offer object for wallet payment method",
        "example": {
          "app": {
            "issuer": "paytm"
          }
        },
        "type": "object",
        "properties": {
          "app": {
            "title": "Wallet Offer",
            "type": "object",
            "properties": {
              "provider": {
                "type": "string",
                "example": "paytm"
              }
            }
          }
        },
        "required": [
          "app"
        ]
      },
      "OrderAuthenticateEntity": {
        "title": "OrderAuthenticateEntity",
        "description": "This is the response shared when merchant inovkes the OTP submit or resend API",
        "example": {
          "cf_payment_id": 975654863,
          "authenticate_status": "FAILED",
          "action": "SUBMIT_OTP",
          "payment_message": "otp is invalid"
        },
        "properties": {
          "cf_payment_id": {
            "type": "number",
            "format": "int64",
            "description": "The payment id for which this request was sent"
          },
          "action": {
            "type": "string",
            "enum": [
              "SUBMIT_OTP",
              "RESEND_OTP"
            ],
            "description": "The action that was invoked for this request."
          },
          "authenticate_status": {
            "type": "string",
            "enum": [
              "FAILED",
              "SUCCESS"
            ],
            "description": "Status of the is action. Will be either failed or successful. If the action is successful, you should still call the authorization status to verify the final payment status."
          },
          "payment_message": {
            "type": "string",
            "description": "Human readable message which describes the status in more detail"
          }
        }
      },
      "OrderAuthenticatePaymentRequest": {
        "title": "OrderAuthenticatePaymentRequest",
        "description": "OTP to be submitted for headless/native OTP",
        "type": "object",
        "required": [
          "otp",
          "action"
        ],
        "properties": {
          "otp": {
            "type": "string",
            "description": "OTP to be submitted"
          },
          "action": {
            "type": "string",
            "enum": [
              "SUBMIT_OTP",
              "RESEND_OTP"
            ],
            "description": "The action for this workflow. Could be either SUBMIT_OTP or RESEND_OTP"
          }
        },
        "example": {
          "otp": "111000",
          "action": "SUBMIT_OTP"
        }
      },
      "OrderCreateRefundRequest": {
        "title": "OrderCreateRefundRequest",
        "description": "create refund request object",
        "example": {
          "refund_amount": 1,
          "refund_id": "refund_00912",
          "refund_note": "refund note for reference",
          "refund_speed": "STANDARD"
        },
        "type": "object",
        "properties": {
          "refund_amount": {
            "type": "number",
            "format": "double",
            "description": "Amount to be refunded. Should be lesser than or equal to the transaction amount. (Decimals allowed)"
          },
          "refund_id": {
            "type": "string",
            "description": "An unique ID to associate the refund with. Provie alphanumeric values",
            "minLength": 3,
            "maxLength": 40
          },
          "refund_note": {
            "type": "string",
            "description": "A refund note for your reference.",
            "minLength": 3,
            "maxLength": 100
          },
          "refund_speed": {
            "type": "string",
            "enum": [
              "STANDARD",
              "INSTANT"
            ],
            "description": "Speed at which the refund is processed. It's an optional field with default being STANDARD"
          },
          "refund_splits": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VendorSplit"
            }
          }
        },
        "required": [
          "refund_amount",
          "refund_id"
        ]
      },
      "OrderEntity": {
        "title": "OrderEntity",
        "type": "object",
        "description": "The complete order entity",
        "example": {
          "$ref": "#/components/examples/order_entity_list_example/value/0"
        },
        "properties": {
          "cf_order_id": {
            "type": "integer",
            "format": "int64",
            "description": "unique id generated by cashfree for your order"
          },
          "order_id": {
            "type": "string",
            "description": "order_id sent during the api request"
          },
          "entity": {
            "type": "string",
            "description": "Type of the entity."
          },
          "order_currency": {
            "type": "string",
            "description": "Currency of the order. Example INR"
          },
          "order_amount": {
            "type": "number"
          },
          "order_status": {
            "type": "string",
            "description": "Possible values are \n- `ACTIVE`: Order does not have a sucessful transaction yet\n- `PAID`: Order is PAID with one successful transaction\n- `EXPIRED`: Order was not PAID and not it has expired. No transaction can be initiated for an EXPIRED order.\n"
          },
          "payment_session_id": {
            "type": "string"
          },
          "order_expiry_time": {
            "type": "string",
            "format": "date-time"
          },
          "order_note": {
            "type": "string",
            "description": "Additional note for order",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the order was created at cashfree's server",
            "example": "2022-08-16T14:45:38+05:30"
          },
          "order_splits": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VendorSplit"
            }
          },
          "customer_details": {
            "$ref": "#/components/schemas/CustomerDetails"
          },
          "order_meta": {
            "$ref": "#/components/schemas/OrderMeta"
          },
          "payments": {
            "$ref": "#/components/schemas/PaymentURLObject"
          },
          "settlements": {
            "$ref": "#/components/schemas/SettlementURLObject"
          },
          "refunds": {
            "$ref": "#/components/schemas/RefundURLObject"
          },
          "order_tags": {
            "$ref": "#/components/schemas/OrderTags"
          }
        }
      },
      "OrderMeta": {
        "title": "OrderMeta",
        "description": "Optional meta details to control how the customer pays and how payment journey completes",
        "type": "object",
        "properties": {
          "return_url": {
            "type": "string",
            "nullable": true,
            "example": "https://example.com/return?order_id={order_id}",
            "description": "The URL to which user will be redirected to after the payment on bank OTP page. Maximum length: 250. The return_url must contain placeholder {order_id}. When redirecting the customer back to the return url from the bank’s OTP page, Cashfree will replace this placeholder with the actual value for that order."
          },
          "notify_url": {
            "type": "string",
            "nullable": true,
            "example": "https://example.com/cf_notify",
            "description": "Notification URL for server-server communication. Useful when user's connection drops while re-directing. NotifyUrl should be an https URL. Maximum length: 250."
          },
          "payment_methods": {
            "nullable": true,
            "example": "cc,dc,upi",
            "description": "Allowed payment modes for this order. Pass comma-separated values among following options - \"cc\", \"dc\", \"ccc\", \"ppc\",\"nb\",\"upi\",\"paypal\",\"app\",\"paylater\",\"cardlessemi\",\"dcemi\",\"ccemi\",\"banktransfer\". Leave it blank to show all available payment methods"
          }
        }
      },
      "OrderPayData": {
        "title": "OrderPayData",
        "type": "object",
        "description": "the data object pay api",
        "example": {
          "url": "https://examplebank.com/sendTo/897?q",
          "payload": {
            "MD": 89811231231,
            "PaReq": "89123l1j2l3j1ljkkl="
          },
          "content_type": "application/x-www-form-encoded",
          "method": "post"
        },
        "properties": {
          "url": {
            "type": "string",
            "nullable": true
          },
          "payload": {
            "nullable": true,
            "type": "object"
          },
          "content_type": {
            "type": "string",
            "nullable": true
          },
          "method": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "OrderTags": {
        "type": "object",
        "nullable": true,
        "maxProperties": 15,
        "description": "Custom Tags in thr form of {\"key\":\"value\"} which can be passed for an order. A maximum of 10 tags can be added",
        "additionalProperties": {
          "type": "string",
          "minLength": 1,
          "maxLength": 255
        },
        "example": {
          "product": "Laptop",
          "shipping_address": "123 Main St"
        }
      },
      "PayOrderEntity": {
        "title": "PayOrderEntity",
        "type": "object",
        "description": "Order Pay response once you create a transaction for that order",
        "example": {
          "payment_method": "card",
          "channel": "link",
          "action": "link",
          "cf_payment_id": 91235,
          "payment_amount": 22.42,
          "data": {
            "url": "https://sandbox.cashfree.com/pg/view/gateway/FHsuvhayLM5mmhINoqri7ba296e2ebca8b98e6119f6223021a13",
            "payload": {
              "name": "card"
            },
            "content_type": "application/x-www-form-urlencoded",
            "method": "post"
          }
        },
        "properties": {
          "payment_amount": {
            "type": "number",
            "description": "total amount payable"
          },
          "cf_payment_id": {
            "type": "integer",
            "description": "Payment identifier created by Cashfree",
            "format": "int64"
          },
          "payment_method": {
            "type": "string",
            "enum": [
              "netbanking",
              "card",
              "upi",
              "app",
              "cardless_emi",
              "paylater",
              "banktransfer"
            ],
            "description": "One of [\"upi\", \"netbanking\", \"card\", \"app\", \"cardless_emi\", \"paylater\", \"banktransfer\"] "
          },
          "channel": {
            "type": "string",
            "enum": [
              "link",
              "collect",
              "qrcode",
              "post"
            ],
            "description": "One of [\"link\", \"collect\", \"qrcode\"]. In an older version we used to support different channels like 'gpay', 'phonepe' etc. However, we now support only the following channels - link, collect and qrcode. To process payments using gpay, you will have to provide channel as 'link' and provider as 'gpay'"
          },
          "action": {
            "type": "string",
            "enum": [
              "link",
              "custom",
              "form",
              "post"
            ],
            "description": "One of [\"link\", \"custom\", \"form\"]",
            "nullable": true
          },
          "data": {
            "$ref": "#/components/schemas/OrderPayData"
          }
        }
      },
      "PayOrderRequest": {
        "title": "PayOrderRequest",
        "type": "object",
        "description": "Complete object for the pay api that uses payment method objects",
        "properties": {
          "payment_session_id": {
            "type": "string",
            "example": "session__CvcEmNKDkmERQrxnx39ibhJ3Ii034pjc8ZVxf3qcgEXCWlgDDlHRgz2XYZCqpajDQSXMMtCusPgOIxYP2LZx0-05p39gC2Vgmq1RAj--gcn"
          },
          "payment_method": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/CardPaymentMethod"
              },
              {
                "$ref": "#/components/schemas/UPIPaymentMethod"
              },
              {
                "$ref": "#/components/schemas/NetBankingPaymentMethod"
              },
              {
                "$ref": "#/components/schemas/AppPaymentMethod"
              },
              {
                "$ref": "#/components/schemas/CardEMIPaymentMethod"
              },
              {
                "$ref": "#/components/schemas/CardlessEMIPaymentMethod"
              },
              {
                "$ref": "#/components/schemas/PaylaterPaymentMethod"
              }
            ],
            "example": {
              "card": {
                "channel": "link",
                "card_number": "4111111111111111",
                "card_expiry_mm": "03",
                "card_expiry_yy": "28",
                "card_cvv": "123"
              }
            }
          },
          "save_instrument": {
            "type": "boolean"
          },
          "offer_id": {
            "type": "string",
            "description": "This is required if any offers needs to be applied to the order.",
            "example": "faa6cc05-d1e2-401c-b0cf-0c9db3ff0f0b"
          }
        },
        "required": [
          "payment_session_id",
          "payment_method"
        ]
      },
      "Paylater": {
        "title": "Paylater",
        "description": "Paylater payment method",
        "example": {
          "channel": "link",
          "provider": "kotak",
          "phone": "7789112345"
        },
        "type": "object",
        "properties": {
          "channel": {
            "type": "string",
            "description": "The channel for cardless EMI is always `link`"
          },
          "provider": {
            "type": "string",
            "enum": [
              "kotak",
              "flexipay",
              "zestmoney",
              "lazypay",
              "olapostpaid",
              "simpl",
              "freechargepaylater"
            ],
            "description": "One of [\"kotak\", \"flexipay\", \"zestmoney\", \"lazypay\", \"olapostpaid\",\"simpl\", \"freechargepaylater\"]. Please note that Flexipay is offered by HDFC bank"
          },
          "phone": {
            "type": "string",
            "description": "Customers phone number for this payment instrument. If the customer is not eligible you will receive a 400 error with type as 'invalid_request_error' and code as 'invalid_request_error'"
          }
        }
      },
      "PaylaterEntity": {
        "title": "PaylaterEntity",
        "description": "Paylater Entity",
        "type": "object",
        "properties": {
          "payment_method": {
            "type": "string",
            "example": "olapostpaid"
          }
        }
      },
      "PaylaterPaymentMethod": {
        "title": "PaylaterPaymentMethod",
        "description": "paylater payment method",
        "example": {
          "paylater": {
            "channel": "link",
            "provider": "lazypay",
            "phone": "781234121"
          }
        },
        "type": "object",
        "properties": {
          "paylater": {
            "$ref": "#/components/schemas/Paylater"
          }
        },
        "required": [
          "paylater"
        ]
      },
      "PaymentEntity": {
        "title": "PaymentEntity",
        "type": "object",
        "description": "payment entity full object",
        "example": {
          "$ref": "#/components/examples/payments_entity_list_example/value/0"
        },
        "properties": {
          "cf_payment_id": {
            "type": "integer",
            "format": "int64"
          },
          "order_id": {
            "type": "string"
          },
          "entity": {
            "type": "string"
          },
          "error_details": {
            "$ref": "#/components/schemas/ErrorDetailsInPaymentsEntity"
          },
          "is_captured": {
            "type": "boolean"
          },
          "order_amount": {
            "type": "number",
            "description": "Order amount can be different from payment amount if you collect service fee from the customer"
          },
          "payment_group": {
            "type": "string",
            "description": "Type of payment group. One of ['upi', 'card', 'app', 'netbanking', 'paylater', 'cardless_emi']"
          },
          "payment_currency": {
            "type": "string"
          },
          "payment_amount": {
            "type": "number"
          },
          "payment_time": {
            "type": "string",
            "description": "This is the time when the payment was initiated"
          },
          "payment_completion_time": {
            "type": "string",
            "description": "This is the time when the payment reaches its terminal state"
          },
          "payment_status": {
            "type": "string",
            "enum": [
              "SUCCESS",
              "NOT_ATTEMPTED",
              "FAILED",
              "USER_DROPPED",
              "VOID",
              "CANCELLED",
              "PENDING"
            ],
            "description": "The transaction status can be one of  [\"SUCCESS\", \"NOT_ATTEMPTED\", \"FAILED\", \"USER_DROPPED\", \"VOID\", \"CANCELLED\", \"PENDING\"]"
          },
          "payment_message": {
            "type": "string"
          },
          "bank_reference": {
            "type": "string"
          },
          "auth_id": {
            "type": "string"
          },
          "authorization": {
            "$ref": "#/components/schemas/AuthorizationInPaymentsEntity"
          },
          "payment_method": {
            "$ref": "#/components/schemas/PaymentMethodInPaymentsEntity"
          }
        }
      },
      "PaymentMethodAppInPaymentsEntity": {
        "title": "PaymentMethodAppInPaymentsEntity",
        "description": "payment method app object in payment entity",
        "example": {
          "channel": "link",
          "provider": "paytm",
          "phone": "1234512345"
        },
        "type": "object",
        "properties": {
          "channel": {
            "type": "string"
          },
          "provider": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          }
        }
      },
      "PaymentMethodCardInPaymentsEntity": {
        "title": "PaymentMethodCardInPaymentsEntity",
        "description": "payment method card object in payment entity",
        "example": {
          "channel": "link",
          "card_number": "41111xxxxxx111",
          "card_network": "visa",
          "card_type": "credit_card",
          "card_country": "IN",
          "card_bank_name": "HDFC Bank",
          "card_network_reference_id": "100212023061229"
        },
        "type": "object",
        "properties": {
          "channel": {
            "type": "string"
          },
          "card_number": {
            "type": "string"
          },
          "card_network": {
            "type": "string"
          },
          "card_type": {
            "type": "string"
          },
[...]
