{
  "openapi": "3.0.0",
  "info": {
    "title": "Payouts",
    "version": "3.0.0"
  },
  "servers": [
    {
      "url": "https://payout-api.cashfree.com"
    }
  ],
  "security": [
    {}
  ],
  "paths": {
    "/payout/v1/addBeneficiary": {
      "post": {
        "summary": "Add Beneficiary",
        "description": "Use this API to add a beneficiary to your Cashfree account by providing the bank account number, IFSC, and other required details. Before you request a transfer, ensure the account has been successfully added as a beneficiary.",
        "operationId": "create-beneficiary-11",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer auth token",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1_addBeneficiary_body"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200"
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_403"
                }
              }
            }
          },
          "409": {
            "description": "409",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_409"
                }
              }
            }
          },
          "412": {
            "description": "412",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_412"
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_422"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl -X POST \\\n  'http://{{Host%20Url}}/payout/v1/addBeneficiary' \\\n  -H 'Authorization: Bearer {{Token}}' \\\n  -d '{\n  \"beneId\": \"JOHN18011343\",\n  \"name\": \"john doe\",\n  \"email\": \"johndoe@cashfree.com\",\n  \"phone\": \"9876543210\",\n  \"bankAccount\": \"00111122233\",\n  \"ifsc\": \"HDFC0000001\",\n  \"address1\": \"ABC Street\",\n  \"city\": \"Bangalore\",\n  \"state\": \"Karnataka\",\n  \"pincode\": \"560001\"\n}'"
            },
            {
              "language": "text",
              "code": "const cfSdk = require('cashfree-sdk');\nconst {Beneficiary} = cfSdk.Payouts;\n\nconst response = await Beneficiary.Add({\n            \"beneId\": \"JOHN180127\", \n            \"name\": \"john doe\",\n            \"email\": \"johndoe@cashfree.com\", \n            \"phone\": \"9876543210\",\n            \"bankAccount\": \"00011020001773\",  \n            \"address1\" : \"ABC Street\", \n            \"city\": \"Bangalore\", \n            \"state\":\"Karnataka\", \n            \"pincode\": \"560001\"\n        });",
              "name": "Node"
            },
            {
              "language": "java",
              "code": "import com.cashfree.lib.clients.Payouts;\nimport com.cashfree.lib.clients.Payouts;\nimport com.cashfree.lib.clients.Beneficiary;\nimport com.cashfree.lib.domains.BeneficiaryDetails;\n\npublic static void main(){\n\nPayouts payouts = Payouts.getInstance(\n    Environment.PRODUCTION, \"<client_id>\", \"<client_secret>\");\npayouts.init();\nBeneficiary beneficiary = new Beneficiary(payouts);\n\nBeneficiaryDetails beneficiaryDetails = new BeneficiaryDetails()\n        .setBeneId(\"JOHN18012\")\n        .setName(\"john doe\")\n        .setEmail(\"johndoe@cashfree.com\")\n        .setPhone(\"9876543210\")\n        .setBankAccount(\"00001111222233\")\n        .setIfsc(\"HDFC0000001\")\n        .setAddress1(\"ABC Street\")\n        .setCity(\"Bangalore\")\n        .setState(\"Karnataka\")\n        .setPincode(\"560001\");\n\nbeneficiary.addBeneficiary(beneficiaryDetails);\n}"
            },
            {
              "language": "python",
              "code": "from cashfree_sdk.payouts import Payouts\nfrom cashfree_sdk.payouts.beneficiary import Beneficiary\n\nbene_add = Benefeciary.add(beneId=\"JOHN18012\", name=\"john doe\", email=\"johndoe@cashfree.com\", phone=\"9876543210\", address1=\"ABC Street\", bankAccount=\"00001111222233\", ifsc=\"HDFC0000001\")"
            }
          ],
          "samples-languages": [
            "curl",
            "text",
            "java",
            "python"
          ]
        }
      }
    },
    "/payout/v1/getBalance": {
      "get": {
        "summary": "Get Balance",
        "description": "Use this API to get the ledger balance and available balance of your account. Available balance is ledger balance minus the sum of all pending transfers (transfers triggered and processing or pending now).",
        "operationId": "get-balance1",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer auth token",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_1"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                },
                "examples": {
                  "Result": {
                    "value": {}
                  }
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_403"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl -X GET \\\n  https://{{Host%20Url}}payout/v1/getBalance \\\n  -H 'Authorization: Bearer {{Token}}\\"
            },
            {
              "language": "text",
              "code": "const cfSdk = require('cashfree-sdk');\nconst response = await cfSdk.Payouts.GetBalance();",
              "name": "Node"
            },
            {
              "language": "java",
              "code": "import com.cashfree.lib.clients.Payouts;\n\npublic static void main(){\n\nPayouts payouts = Payouts.getInstance(\n    Environment.PRODUCTION, \"<client_id>\", \"<client_secret>\");\npayouts.init();\npayouts.getBalance();\n\n}\n"
            },
            {
              "language": "python",
              "code": "from cashfree_sdk.payouts.transfers import Transfers\nb = Transfers.get_balance() "
            }
          ],
          "samples-languages": [
            "curl",
            "text",
            "java",
            "python"
          ]
        }
      }
    },
    "/payout/v1/internalTransfer": {
      "post": {
        "summary": "Internal Transfer",
        "description": "Use this API to request an internal transfer at Cashfree. The internal transfer API is useful for multiple Payouts accounts. The API response will either result in an ERROR or SUCCESS response.",
        "operationId": "internal-transfer1",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer auth token",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1_internalTransfer_body"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_18"
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_403"
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_404"
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_422_1"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl -X POST \\\n  'http://{{Host%20Url}}/payout/v1/internalTransfer' \\\n  -H 'Content-Type: application/json' \\\n  -H 'Authorization: Bearer {{Token}}\\\n  -d '{\n\t\"amount\": 1.1,\n\t\"rechargeAccount\": \"492372992\"\n}'"
            },
            {
              "language": "text",
              "code": "const cfSdk = require('cashfree-sdk');\nconst response = await cfSdk.Payouts.InternalTransfer({\n    amount: 1.1,\n    rechargeAccount: \"492372992\"\n});",
              "name": "Node"
            },
            {
              "language": "java",
              "code": "import com.cashfree.lib.clients.Payouts;\n\npublic static void main(){\n\nPayouts payouts = Payouts.getInstance(\n    Environment.PRODUCTION, \"<client_id>\", \"<client_secret>\");\npayouts.init();\n\npayouts.internalTransfer();\n\n}"
            },
            {
              "language": "python",
              "code": "from cashfree_sdk.payouts.transfers import Transfers\ntransfer = Transfers.internal_transfer(amount=1.1, rechargeAccuont=\"492372992\")"
            }
          ],
          "samples-languages": [
            "curl",
            "text",
            "java",
            "python"
          ]
        }
      }
    },
    "/payout/v1/selfWithdrawal": {
      "post": {
        "summary": "Self Withdrawal",
        "description": "Use this API to request a self withdrawal at Cashfree. Self withdrawal is allowed a maximum of 3 times a day. The API response will either result in an ERROR or SUCCESS response. The status of the withdrawal request is available on the dashboard.",
        "operationId": "self-withdrawal1",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer auth token",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1_selfWithdrawal_body"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_2"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                },
                "examples": {
                  "Result": {
                    "value": {}
                  }
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_403"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl -X POST \\\n  'http://{{Host%20Url}}/payout/v1/selfWithdrawal' \\\n  -H 'Content-Type: application/json' \\\n  -H 'Authorization: Bearer {{Token}}\\\n  -d '{\n\t\"withdrawlId\": \"1\",\n\t\"amount\": 2\n}'"
            },
            {
              "language": "text",
              "code": "const cfSdk = require('cashfree-sdk');\nconst response = await cfSdk.Payouts.SelfWithdrawal({\n    withdrawalId: \"testWithdrawal1\"\n    amount: \"1.00\"\n});",
              "name": "Node"
            },
            {
              "language": "java",
              "code": "import com.cashfree.lib.clients.Payouts;\n\npublic static void main()\n{\n  Payouts payouts = Payouts.getInstance(\n    Environment.PRODUCTION, \"<client_id>\", \"<client_secret>\");\n  payouts.init();\n  //self withdrawal is under construction\n  payouts.selfWitdrawal();\n}"
            },
            {
              "language": "python",
              "code": "from cashfree_sdk.payouts.transfers import Transfers\nwithd = Transfers.self_withdrawal(withdrawalId=\"withdraw1\", amount=1.1, remarks=\"withdrawal request\")"
            }
          ],
          "samples-languages": [
            "curl",
            "text",
            "java",
            "python"
          ]
        }
      }
    },
    "/payout/v1/getBeneId": {
      "get": {
        "summary": "Get Beneficiary ID",
        "description": "Use this API to get the beneficiary ID by providing the bank account number and ifsc.",
        "operationId": "getbeneficiary-id",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer auth token",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bankAccount",
            "in": "query",
            "description": "Beneficiaries bank account number, alphanumeric ( >=6 and <= 40 characters).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ifsc",
            "in": "query",
            "description": "Beneficiaries bank's IFSC code (standard IFSC format) - length 11, first four IFSC and 5th character must be 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_3"
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_403"
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_404_1"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl -X GET \\\n  'http://{{Host%20Url}}/payout/v1/getBeneId?bankAccount=00111122233&ifsc=HDFC0000001' \\\n  -H 'Authorization: Bearer {{Token}}' \\"
            },
            {
              "language": "text",
              "code": "const cfSdk = require('cashfree-sdk');\nconst {Beneficiary} = cfSdk.Payouts;\n\nconst response = await Beneficiary.GetBeneId({\n    bankAccount: \"00001111222233\"\n    ifsc: \"HDFC000001\"\n});",
              "name": "Node"
            },
            {
              "language": "java",
              "code": "import com.cashfree.lib.clients.Payouts;\nimport com.cashfree.lib.clients.Payouts;\nimport com.cashfree.lib.clients.Beneficiary;\nimport com.cashfree.lib.domains.BeneficiaryDetails;\n\npublic static void main(){\n\nPayouts payouts = Payouts.getInstance(\n    Environment.PRODUCTION, \"<client_id>\", \"<client_secret>\");\npayouts.init();\nBeneficiary beneficiary = new Beneficiary(payouts);\n}"
            },
            {
              "language": "python",
              "code": "from cashfree_sdk.payouts import Payouts\nfrom cashfree_sdk.payouts.beneficiary import Beneficiary\n\nbene_id = Benefeciary.get_bene_id(\"00001111222233\", \"HDFC0000001\")"
            }
          ],
          "samples-languages": [
            "curl",
            "text",
            "java",
            "python"
          ]
        }
      }
    },
    "/payout/v1/removeBeneficiary": {
      "post": {
        "summary": "Remove Beneficiary",
        "description": "Use this API to remove an existing beneficiary from a list of added beneficiaries.",
        "operationId": "remove-beneficiary1",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer auth token",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1_removeBeneficiary_body"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_4"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                },
                "examples": {
                  "Result": {
                    "value": {}
                  }
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_403"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl -X POST \\\n  'http://{{Host%20Url}}/payout/v1/removeBeneficiary' \\\n  -H 'Authorization: Bearer {{Token}}' \\\n  -d '{\n  \"beneId\" : \"JOHN18011\"\n} '"
            },
            {
              "language": "text",
              "code": "const cfSdk = require('cashfree-sdk');\nconst {Beneficiary} = cfSdk.Payouts;\n\nconst response = await Beneficiary.Remove({\n    beneId: \"JOHN18011\",\n});",
              "name": "Node"
            },
            {
              "language": "java",
              "code": "import com.cashfree.lib.clients.Payouts;\nimport com.cashfree.lib.clients.Payouts;\nimport com.cashfree.lib.clients.Beneficiary;\nimport com.cashfree.lib.domains.BeneficiaryDetails;\n\npublic static void main(){\n\nPayouts payouts = Payouts.getInstance(\n    Environment.PRODUCTION, \"<client_id>\", \"<client_secret>\");\npayouts.init();\nBeneficiary beneficiary = new Beneficiary(payouts);\nbeneficiary.removeBeneficiary(\"JOHN18012\")\n}"
            },
            {
              "language": "python",
              "code": "from cashfree_sdk.payouts import Payouts\nfrom cashfree_sdk.payouts.beneficiary import Benefeciary\n\nremove_bene = Benefeciary.remove_bene(\"JOHN18011\")"
            }
          ],
          "samples-languages": [
            "curl",
            "text",
            "java",
            "python"
          ]
        }
      }
    },
    "/payout/v1/getBeneficiary/{beneId}": {
      "get": {
        "summary": "Get Beneficiary Details",
        "description": "Use this API to get the details of a particular beneficiary in your account.",
        "operationId": "getbeneficiary-details",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer auth token",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "beneId",
            "in": "path",
            "description": "Unique Beneficiary ID of the beneficiary for which you want to view the details.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_5"
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_403"
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_404_2"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl -X GET \\\n  'http://{{Host%20Url}}/payout/v1/getBeneficiary/JOHN18011' \\\n  -H 'Authorization: Bearer {{Token}}' \\"
            },
            {
              "language": "text",
              "code": "const cfSdk = require('cashfree-sdk');\nconst {Beneficiary} = cfSdk.Payouts;\n\nconst response = await Beneficiary.GetDetails({\n            \"beneId\": \"JOHN18011\",\n        });",
              "name": "Node"
            },
            {
              "language": "java",
              "code": "import com.cashfree.lib.clients.Payouts;\nimport com.cashfree.lib.clients.Payouts;\nimport com.cashfree.lib.clients.Beneficiary;\nimport com.cashfree.lib.domains.BeneficiaryDetails;\n\npublic static void main(){\n\nPayouts payouts = Payouts.getInstance(\n    Environment.PRODUCTION, \"<client_id>\", \"<client_secret>\");\npayouts.init();\nBeneficiary beneficiary = new Beneficiary(payouts);\nbeneficiary.getBeneficiaryDetails(\"JOHN18011\");\n}"
            },
            {
              "language": "python",
              "code": "from cashfree_sdk.payouts import Payouts\nfrom cashfree_sdk.payouts.beneficiary import Beneficiary\n\nbene_details = Benefeciary.get_bene_details(\"JOHN18011\")"
            }
          ],
          "samples-languages": [
            "curl",
            "text",
            "java",
            "python"
          ]
        }
      }
    },
    "/payout/v1/requestAsyncTransfer": {
      "post": {
        "summary": "Standard Transfer Async",
        "description": "Use this API to initiate an amount transfer request at Cashfree by providing beneficiary id, amount, and transfer id. This is an async transfer request.",
        "operationId": "standard-transfer-async1",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer auth token",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1_requestAsyncTransfer_body"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_6"
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_403"
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_422_2"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl -X POST \\\n  'http://{{Host%20Url}}/payout/v1/requestAsyncTransfer' \\\n  -H 'Authorization: Bearer {{Token}}' \\\n  -d '{\n  \"beneId\": \"JOHN18011343\",\n  \"amount\": \"1.00\",\n  \"transferId\": \"JUNOB2018\"\n}'"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/payout/v1/beneHistory": {
      "get": {
        "summary": "Get Beneficiary History",
        "description": "Use this API to fetch the transaction history for a particular beneficiary and for a desired period of time.",
        "operationId": "getbeneficiary-history",
        "parameters": [
          {
            "name": "beneId",
            "in": "query",
            "description": "The beneficiary id that you have created. Alphanumeric characters accepted.",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Start date for the desired period. Format - yyyy-mm-dd",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "End date for the desired period. Format -  yyyy-mm-dd. If start date is provided,  end date is a mandatory. End date has to be a day less than current date.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "perPage",
            "in": "query",
            "description": "Number of transactions to be displayed on the page. Maximum = 25. Default value set is 25.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Will show the latest transfers on the first page. Minimum = 1. Default value set is 1.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer auth token",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_7"
                },
                "examples": {
                  "Result": {
                    "value": {
                      "status": "SUCCESS",
                      "subCode": "200",
                      "message": "Data retrieved successfully",
                      "data": {
                        "transfers": [
                          {
                            "transferDate": "2020-06-16T00:00:00.000Z",
                            "amount": "1",
                            "mode": "IMPS",
                            "beneId": "John Doe",
                            "status": "SUCCESS"
                          },
                          {
                            "transferDate": "2020-05-28T00:00:00.000Z",
                            "amount": "1",
                            "mode": "NEFT",
                            "beneId": "John Doe",
                            "status": "SUCCESS"
                          },
                          {
                            "transferDate": "2020-05-15T00:00:00.000Z",
                            "amount": "1.1",
                            "mode": "IMPS",
                            "beneId": "John Doe",
                            "status": "SUCCESS"
                          },
                          {
                            "transferDate": "2020-05-15T00:00:00.000Z",
                            "amount": "1.1",
                            "mode": "IMPS",
                            "beneId": "John Doe",
                            "status": "SUCCESS"
                          },
                          {
                            "transferDate": "2020-05-15T00:00:00.000Z",
                            "amount": "1",
                            "mode": "IMPS",
                            "beneId": "John Doe",
                            "status": "SUCCESS"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_403"
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_422_3"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl --location --request GET 'https://payout-api.cashfree.com//payout/v1/beneHistory?beneId=VENKY_UPI&startDate=2021-05-27&endDate=2021-05-31&perPage=10&page=1' \\\n--header 'Authorization: Bearer  <token>'"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/payout/v1.1/getTransferStatus": {
      "get": {
        "summary": "Get Transfer Status",
        "description": "Use these details to get details of a particular transfer. You can pass referenceId or transferId to fetch the details.",
        "operationId": "get-transfer-status1",
        "parameters": [
          {
            "name": "referenceId",
            "in": "query",
            "description": "Reference ID of the transaction. (Either referenceId or transferId is mandatory)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transferId",
            "in": "query",
            "description": "Transfer ID of the transaction.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer auth token",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_19"
                },
                "examples": {
                  "Case1": {
                    "summary": "Transfer is successful",
                    "value": {
                      "status": "SUCCESS",
                      "subCode": "200",
                      "message": "Details of transfer with referenceId 200223467",
                      "data": {
                        "transfer": {
                          "transferId": "sample01139",
                          "bankAccount": "000810139000385",
                          "ifsc": "YESB0MAN001",
                          "beneId": "test_bene",
                          "amount": "1.2",
                          "status": "SUCCESS",
                          "utr": "N351200478962883",
                          "addedOn": "2020-12-16T09:17:41.000Z",
                          "processedOn": "2020-12-16T09:17:42.000Z",
                          "transferMode": "BANK",
                          "acknowledged": 1
                        }
                      }
                    }
                  },
                  "Case2": {
                    "summary": "Transfer is not successful",
                    "value": {
                      "status": "SUCCESS",
                      "subCode": "200",
                      "message": "Details of transfer with referenceId 195460327",
                      "data": {
                        "transfer": {
                          "transferId": "1025fca380442d98",
                          "bankAccount": 20274048860,
                          "ifsc": "SBIN0002207",
                          "beneId": "TEST1234",
                          "amount": "1.1",
                          "status": "FAILED",
                          "addedOn": "2020-12-04T18:52:12.000Z",
                          "processedOn": "2020-12-04T19:07:13.000Z",
                          "reason": "BENEFICIARY_BANK_OFFLINE",
                          "transferMode": "BANK",
                          "acknowledged": 0
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_403"
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_404_3"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl --location --request GET 'http://localhost:9188/payout/v1/getTransferStatus?transferId=Sample_test' \\\n--header 'Authorization: Bearer {{Token}}' \\\n--header 'Content-Type: application/json'"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/payout/v1/requestTransfer": {
      "post": {
        "summary": "Standard Transfer Sync",
        "description": "Use this API to initiate an amount transfer request at Cashfree by providing beneficiary id, amount, and transfer id. This is a sync transfer request.",
        "operationId": "standard-transfer-sync1",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer Auth Token",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1_requestTransfer_body"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Transfer completed successfully": {
                    "summary": "Transfer Success",
                    "value": {
                      "status": "SUCCESS,",
                      "subCode": "200,",
                      "message": "Transfer completed successfully,",
                      "data": {
                        "referenceId": "10023,",
                        "utr": "P16111765023806,",
                        "acknowledged": 1
                      }
                    }
                  },
                  "Beneficiary does not exist": {
                    "summary": "Beneficiary does not exist",
                    "value": {
                      "status": "ERROR,",
                      "subCode": "404,",
                      "message": "Beneficiary does not exist"
                    }
                  },
                  "Remarks can have only numbers, alphabets, and whitespaces": {
                    "summary": "Remarks Format",
                    "value": {
                      "status": "ERROR,",
                      "subCode": "422,",
                      "message": "Remarks can have only numbers, alphabets, and whitespaces"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_403"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl -X POST \\\n  'http://{{Host%20Url}}/payout/v1/requestTransfer' \\\n  -H 'Authorization: Bearer {{Token}}' \\\n  -d '{\n  \"beneId\": \"JOHN18011\",\n  \"amount\": \"1.00\",\n  \"transferId\": \"JUNOB2018\"\n}'"
            },
            {
              "language": "text",
              "code": "const cfSdk = require('cashfree-sdk');\nconst {Transfers} = cfSdk.Payouts;\n\nconst response = await Transfers.RequestTransfer({\n            \"beneId\": \"JOHN18011\",\n            \"transferId\": \"tranfer001234\",\n            \"amount\": \"1.00\",\n        });",
              "name": "Node"
            },
            {
              "language": "java",
              "code": "import com.cashfree.lib.clients.Payouts;\nimport com.cashfree.lib.clients.Transfers;\nimport com.cashfree.lib.domains.request.BatchTransferRequest;\nimport com.cashfree.lib.domains.request.RequestTransferRequest;\n\npublic static void main(){\n\nPayouts payouts = Payouts.getInstance(\n    Environment.PRODUCTION, \"<client_id>\", \"<client_secret>\");\npayouts.init();\nTransfers transfer = new Transfers(payouts);\n\nRequestTransferRequest request = new RequestTransferRequest()\n        .setBeneId(\"JOHN18011\")\n        .setAmount(new BigDecimal(\"1.00\"))\n        .setTransferId(\"javasdktestJAN2019\");\ntransfers.requestTransfer(request);\n}"
            },
            {
              "language": "python",
              "code": "from cashfree_sdk.payouts import Payouts\nfrom cashfree_sdk.payouts.transfers import Transfers\n\ntnx_req = Transfers.request_transfer(beneId=\"JOHN18011\", amount=\"100.1\", transferId=\"DEC2017\", transferMode=\"banktransfer\", remarks=\"Test transfer\")"
            }
          ],
          "samples-languages": [
            "curl",
            "text",
            "java",
            "python"
          ]
        }
      }
    },
    "/payout/v1/createCashgram": {
      "post": {
        "summary": "Create Cashgram",
        "description": "Use this API to create a Cashgram.",
        "operationId": "create-cashgram1",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer auth token",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1_createCashgram_body"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_8"
                }
              }
            }
          },
          "409": {
            "description": "409",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_409_1"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl -X POST \\\n  'http://{{Host%20Url}}/payout/v1/createCashgram' \\\n  -H 'Content-Type: application/json' \\\n  -H 'Authorization: Bearer {{Token}}'\n  -d '{\n            \"cashgramId\": \"JOHaN10\",\n            \"amount\": \"1.00\",\n            \"name\": \"John Doe\",\n            \"email\": \"johndoe@cashfree.com\",\n            \"phone\": \"9876543210\",\n            \"linkExpiry\": \"2020/04/01\",\n            \"remarks\": \"sample cashgram\",\n            \"notifyCustomer\": 1\n}'"
            },
            {
              "language": "text",
              "code": "const cfSdk = require('cashfree-sdk');\nconst {Cashgram} = cfSdk.Payouts;\n\nconst response = await Cashgram.CreateCashgram({\n            cashgramId: \"JOHaN10\",\n            amount: \"1.00\",\n            name: \"John Doe\",\n            email: \"johndoe@cashfree.com\",\n            phone: \"9876543210\",\n            linkExpiry: \"2020/04/01\",\n            remarks: \"sample cashgram\",\n            notifyCustomer: 1\n        });",
              "name": "Node"
            },
            {
              "language": "java",
              "code": "import com.cashfree.lib.clients.Payouts;\nimport com.cashfree.lib.clients.Cashgram;\nimport com.cashfree.lib.domains.CashgramDetails\n\nPayouts payouts = Payouts.getInstance(\n    Environment.PRODUCTION, \"<client_id>\", \"<client_secret>\");\npayouts.init();\nCashgram cashgram = new Cashgram(payouts);\n\nCashgramDetails cashgramDetails = new CashgramDetails()\n        .setCashgramId(\"JOHaN10\")\n        .setAmount(new BigDecimal(\"1.00\"))\n        .setName(\"John Doe\")\n        .setEmail(\"johndoe@cashfree.com\")\n        .setPhone(\"9876543210\")\n        .setLinkExpiry(LocalDateTime.now().plusMinutes(0))\n        .setRemarks(\"sample cashgram\")\n        .setNotifyCustomer(1);\ncashgram.createCashgram(cashgramDetails);\n}"
            },
            {
              "language": "python",
              "code": "from cashfree_sdk.payouts import Payouts\nfrom cashfree_sdk.payouts.cashgram import Cashgram\nc = Cashgram.create_cashgram(cashgramId=\"JOHaN10\", amount=\"1.1\", name=\"john doe\", email=\"johndoe@cashfree.com\", phone=\"9876543210\", \nlinkExpiry=\"2020/04/01\", remarks=\"sample cashgram\", notifyCustomer=1)  "
            }
          ],
          "samples-languages": [
            "curl",
            "text",
            "java",
            "python"
          ]
        }
      }
    },
    "/payout/v1/requestBatchTransfer": {
      "post": {
        "summary": "Batch Transfer",
        "description": "Use this API to create multiple transfers to multiple beneficiaries. This API accepts an array of transfer objects under the batch field.",
        "operationId": "batch-transfer1",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer auth token",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1_requestBatchTransfer_body"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": {
                      "status": "SUCCESS",
                      "subCode": "200",
                      "message": "Request accepted",
                      "data": {
                        "referenceId": 1594
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_403"
                }
              }
            }
          },
          "409": {
            "description": "409",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_409_2"
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_422_4"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl --location --request POST 'https://payout-api.cashfree.com//payout/v1/requestBatchTransfer' \\\n--header 'Authorization: Bearer <token>' \\\n--header 'Content-Type: application/json' \\\n--data-raw '{\n    \"batchTransferId\": \"abc-.12356\",\n    \"batchFormat\": \"BANK_ACCOUNT\",\n    \"batch\": [\n        {\n            \"amount\": \"1\",\n            \"transferId\": \"1234\",\n            \"remarks\": \"Transfer with Id 12356\",\n            \"name\": \"john doe\",\n            \"email\": \"johndoe@cashfree.com\",\n            \"phone\": 9876543210,\n            \"bankAccount\": \"00111122233\",\n            \"ifsc\": \"HDFC0000001\"\n        }\n    ]\n}'"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/payout/v1/deactivateCashgram": {
      "post": {
        "summary": "Deactivate Cashgram",
        "description": "",
        "operationId": "deactivate-cashgram1",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer auth token",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1_deactivateCashgram_body"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_9"
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_404_4"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl -X GET \\\n  'http://{{Host%20Url}}/payout/v1/deactivateCashgram?cashgramId=JOHaN10' \\\n  -H 'Content-Type: application/json' \\\n  -H 'Authorization: Bearer {{Token}}'"
            },
            {
              "language": "text",
              "code": "const cfSdk = require('cashfree-sdk');\nconst {Cashgram} = cfSdk.Payouts;\nconst response = await Cashgram.DeactivateCashgram({\n            cashgramId: \"JOHaN10\"\n        });",
              "name": "Node"
            },
            {
              "language": "java",
              "code": "import com.cashfree.lib.clients.Payouts;\nimport com.cashfree.lib.clients.Cashgram;\nimport com.cashfree.lib.domains.CashgramDetails\nPayouts payouts = Payouts.getInstance {\n    Environment.PRODUCTION, \"<client_id>\", \"<client_secret>\");\npayouts.init();\nCashgram cashgram = new Cashgram(payouts);\ncashgram.deactivateCashgram(\"JOHaN10\");\n}"
            },
            {
              "language": "python",
              "code": "from cashfree_sdk.payouts import Payouts\nfrom cashfree_sdk.payouts.cashgram import Cashgram\nstatus = Cashgram.deactivate_cashgram(cashgramId=\"JOHaN10\")"
            }
          ],
          "samples-languages": [
            "curl",
            "text",
            "java",
            "python"
          ]
        }
      }
    },
    "/payout/v1/authorize": {
      "post": {
        "summary": "Authorize",
        "description": "Use this API to authenticate with the Cashfree system and obtain the authorization bearer token. All other API calls must have this token as Authorization header in the format 'Bearer &lt;token&gt;' (without quotes) for them to get processed. The generated token is valid for 6 minutes.",
        "operationId": "authorize-2",
        "parameters": [
          {
            "name": "X-Cf-Signature",
            "in": "header",
            "description": "Signature to be sent if IP is not whitelisted",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Client-Secret",
            "in": "header",
            "description": "Client Secret key",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Client-Id",
            "in": "header",
            "description": "Client ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_10"
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_401"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl -X POST \\\n  'http://{{Host%20Url}}/payout/v1/authorize' \\\n  -H 'X-Client-Id: {{client id}}' \\\n  -H 'X-Client-Secret: {{client secret}}' \\"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/payout/v1/getCashgramStatus": {
      "get": {
        "summary": "Get Cashgram Status",
        "description": "Use this API to get the status of the Cashgram created.",
        "operationId": "get-cashgram-status1",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer auth token",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cashgramId",
            "in": "query",
            "description": "ID of the Cashgram",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_11"
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_404_4"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl -X GET \\\n  'http://{{Host%20Url}}/payout/v1/getCashgramStatus?cashgramId=JOHaN10' \\\n  -H 'Content-Type: application/json' \\\n  -H 'Authorization: Bearer {{Token}}'"
            },
            {
              "language": "text",
              "code": "const cfSdk = require('cashfree-sdk');\nconst {Cashgram} = cfSdk.Payouts;\n\nconst response = await Cashgram.GetCashgramStatus({\n            cashgramId: \"JOHaN10\"\n        });",
              "name": "Node"
            },
            {
              "language": "java",
              "code": "import com.cashfree.lib.clients.Payouts;\nimport com.cashfree.lib.clients.Cashgram;\nimport com.cashfree.lib.domains.CashgramDetails\nPayouts payouts = Payouts.getInstance(\n    Environment.PRODUCTION, \"<client_id>\", \"<client_secret>\");\npayouts.init();\nCashgram cashgram = new Cashgram(payouts);\ncashgram.getCashgramStatus(\"JOHaN10\");\n}"
            },
            {
              "language": "python",
              "code": "from cashfree_sdk.payouts import Payouts\nfrom cashfree_sdk.payouts.cashgram import Cashgram\nstatus = Cashgram.get_cashgram_status(cashgramId=\"JOHaN10\")"
            }
          ],
          "samples-languages": [
            "curl",
            "text",
            "java",
            "python"
          ]
        }
      }
    },
    "/payout/v1/verifyToke": {
      "post": {
        "summary": "Verify",
        "description": "Use this API to verify the bearer token generated. If the token does not exist/invalid/expired, the response \"Token is not valid\" is returned. Regenerate token in case of token expiry to make API calls (use /payout/v1/authorize for this).",
        "operationId": "verify11",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer token to be verified",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_12"
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_403_1"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "text",
              "code": "curl -X POST \\\n  'http://{{Host%20Url}}/payout/v1/verifyToken' \\\n  -H 'Authorization: Bearer {{Token}}' \\"
            }
          ],
          "samples-languages": [
            "text"
          ]
        }
      }
    },
    "/payout/v1/verifyToken": {
      "post": {
        "summary": "Verify",
        "description": "Verify the bearer token generated. If the token does not exist, is invalid, or has expired, the response \"Token is not valid\" is returned. Regenerate token in case of token expiry for making API calls ( use /payout/v1/authorize for this).",
        "operationId": "verify-1",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer token to be verified",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_12"
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_403_1"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl -X POST \\\n  'http://{{Host%20Url}}/payout/v1/verifyToken' \\\n  -H 'Authorization: Bearer {{Token}}' \\"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/payout/v1/directTransfer": {
      "post": {
        "summary": "Direct Transfer",
        "description": "Use this API to initiate amount transfers directly to the beneficiary account via a bank transfer or UPI. You can add the beneficiary details in the same API request.",
        "operationId": "direct-transfer1",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer auth token.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1_directTransfer_body"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_20"
                },
                "examples": {
                  "Case1Pending": {
                    "summary": "Pending Transfer",
                    "value": {
                      "status": "PENDING",
                      "subCode": "201",
                      "message": "Transfer request pending at the bank",
                      "data": {
                        "referenceId": "23457526",
                        "utr": "",
                        "acknowledged": 0
                      }
                    }
                  },
                  "Case2Success": {
                    "summary": "Successful Transfer",
                    "value": {
                      "status": "SUCCESS",
                      "subCode": "200",
                      "message": "Transfer completed successfully",
                      "data": {
                        "referenceId": "10023",
                        "utr": "P16111765023806",
                        "acknowledged": 1
                      }
                    }
                  },
                  "Case3Error": {
                    "summary": "Error in Transfer",
                    "value": {
                      "status": "ERROR",
                      "subCode": "400",
                      "message": "Transfer Id already exists"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_403"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "{\n \"amount\": \"3.00\",\n \"transferId\": \"JUNOB2018142\",\n \"transferMode\": \"banktransfer\",\n \"remarks\": \"test\",\n \"beneDetails\" : {\n     \"bankAccount\": \"026291800001191\",\n     \"ifsc\": \"YESB0000262\",\n     \"name\": \"Ranjiths\",\n     \"email\": \"ranjiths@cashfree.com\",\n     \"phone\": \"9999999999\",\n     \"address1\": \"any_dummy_value\"\n }\n}"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/payout/v1.2/requestTransfer": {
      "post": {
        "summary": "Standard Transfer Sync v1.2",
        "description": "Use this API to initiate an amount transfer request at Cashfree by providing beneficiary id, amount, and transfer id. This is a sync transfer request.",
        "operationId": "standard-transfer-sync-v-1-21",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer Auth Token",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1_2_requestTransfer_body"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with status and data or error information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_21"
                },
                "examples": {
                  "SuccessExample": {
                    "summary": "Successful Transfer",
                    "value": {
                      "status": "SUCCESS",
                      "subCode": "200",
                      "message": "Transfer completed successfully",
                      "data": {
                        "referenceId": "10023",
                        "utr": "P16111765023806",
                        "acknowledged": 1
                      }
                    }
                  },
                  "ErrorNotFound": {
                    "summary": "Beneficiary Not Found",
                    "value": {
                      "status": "ERROR",
                      "subCode": "404",
                      "message": "Beneficiary does not exist"
                    }
                  },
                  "ErrorInvalidRemarks": {
                    "summary": "Invalid Remarks",
                    "value": {
                      "status": "ERROR",
                      "subCode": "422",
                      "message": "Remarks can have only numbers, alphabets, and whitespaces"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_403"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl -X POST \\\n  'http://{{Host%20Url}}/payout/v1.2/requestTransfer' \\\n  -H 'Authorization: Bearer {{Token}}' \\\n  -d '{\n  \"beneId\": \"JOHN18011\",\n  \"amount\": \"1.00\",\n  \"transferId\": \"JUNOB2018\"\n}'"
            },
            {
              "language": "text",
              "code": "const cfSdk = require('cashfree-sdk');\nconst {Transfers} = cfSdk.Payouts;\n\nconst response = await Transfers.RequestTransfer({\n            \"beneId\": \"JOHN18011\",\n            \"transferId\": \"tranfer001234\",\n            \"amount\": \"1.00\",\n        });",
              "name": "Node"
            },
            {
              "language": "java",
              "code": "import com.cashfree.lib.clients.Payouts;\nimport com.cashfree.lib.clients.Transfers;\nimport com.cashfree.lib.domains.request.BatchTransferRequest;\nimport com.cashfree.lib.domains.request.RequestTransferRequest;\n\npublic static void main(){\n\nPayouts payouts = Payouts.getInstance(\n    Environment.PRODUCTION, \"<client_id>\", \"<client_secret>\");\npayouts.init();\nTransfers transfer = new Transfers(payouts);\n\nRequestTransferRequest request = new RequestTransferRequest()\n        .setBeneId(\"JOHN18011\")\n        .setAmount(new BigDecimal(\"1.00\"))\n        .setTransferId(\"javasdktestJAN2019\");\ntransfers.requestTransfer(request);\n}"
            },
            {
              "language": "python",
              "code": "from cashfree_sdk.payouts import Payouts\nfrom cashfree_sdk.payouts.transfers import Transfers\n\ntnx_req = Transfers.request_transfer(beneId=\"JOHN18011\", amount=\"100.1\", transferId=\"DEC2017\", transferMode=\"banktransfer\", remarks=\"Test transfer\")"
            }
          ],
          "samples-languages": [
            "curl",
            "text",
            "java",
            "python"
          ]
        }
      }
    },
    "/payout/v1.2/getBatchTransferStatus": {
      "get": {
        "summary": "Get Batch Transfer Status V1.2",
        "description": "Use this API to get the status of the Batch Transfer.",
        "operationId": "get-batch-transfer-status-v1-21",
        "parameters": [
          {
            "name": "batchTransferId",
            "in": "query",
            "description": "Batch transfer ID to fetch the status",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer auth token",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_13"
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_403"
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_404_5"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl -X GET \\\n  'http://{{Host%20Url}}/payout/v1.2/getBatchTransferStatus?batchTransferId=test_batch_format_01' \\\n  -H 'Authorization: Bearer {{Token}}' \\"
            },
            {
              "language": "text",
              "code": "const cfSdk = require('cashfree-sdk');\nconst {Transfers} = cfSdk.Payouts;\n\nconst response = await Tranfers.GetBatchTransferStatus({\nbatchTransferId:Test_Bank_Account_Format_45\" \n});",
              "name": "Node"
            },
            {
              "language": "java",
              "code": "import com.cashfree.lib.clients.Payouts;\nimport com.cashfree.lib.clients.Transfers;\nimport com.cashfree.lib.domains.request.BatchTransferRequest;\nimport com.cashfree.lib.domains.request.RequestTransferRequest;\n\npublic static void main(){\n\nPayouts payouts = Payouts.getInstance(\n    Environment.PRODUCTION, \"<client_id>\", \"<client_secret>\");\npayouts.init();\nTransfers transfer = new Transfers(payouts);\n\ntransfers.getBatchTransferStatus(\"javasdkbatch12\");\n}"
            },
            {
              "language": "python",
              "code": "from cashfree_sdk.payouts import Payouts\nfrom cashfree_sdk.payouts.transfers import Transfers\n\nstatus = Transfers.get_batch_transfer_status(batchTransferId=\"Test_Bank_Account_Format_45\")"
            }
          ],
          "samples-languages": [
            "curl",
            "text",
            "java",
            "python"
          ]
        }
      }
    },
    "/payout/v1.2/requestAsyncTransfer": {
      "post": {
        "summary": "Standard Transfer Async v1.2",
        "description": "Use this API to initiate an amount transfer request at Cashfree by providing beneficiary id, amount, and transfer id. This is an async transfer request.",
        "operationId": "standard-transfer-async-v1-21",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer auth token",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1_2_requestAsyncTransfer_body"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response indicating transfer initiation or error status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_22"
                },
                "examples": {
                  "TransferInitiated": {
                    "summary": "Transfer Accepted",
                    "value": {
                      "status": "ACCEPTED",
                      "subCode": "201",
                      "message": "Transfer Initiated",
                      "data": {
                        "referenceId": "107260"
                      }
                    }
                  },
                  "InvalidRemarksError": {
                    "summary": "Invalid Remarks",
                    "value": {
                      "status": "ERROR",
                      "subCode": "422",
                      "message": "Remarks is invalid"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_403"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl -X POST \\\n  'http://{{Host%20Url}}/payout/v1.2/requestAsyncTransfer' \\\n  -H 'Authorization: Bearer {{Token}}' \\\n  -d '{\n  \"beneId\": \"JOHN18011343\",\n  \"amount\": \"1.00\",\n  \"transferId\": \"JUNOB2018\"\n}'"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/payout/v1.2/requestBatchTransfer": {
      "post": {
        "summary": "Batch Transfer V1.2",
        "description": "Use this API to create transfers to multiple beneficiaries. This API accepts an array of transfer objects under the batch field.",
        "operationId": "batch-transfer-v1-21",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer auth token",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1_2_requestBatchTransfer_body"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "status": "SUCCESS",
                      "subCode": "200",
                      "message": "Batch Transfer requested successfully. Please check later for processing status.",
                      "data": {
                        "referenceId": 486
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_403"
                }
              }
            }
          },
          "409": {
            "description": "409",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_409_3"
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_422_5"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl --location --request POST 'http://gamma.cashfree.com/payoutapi/v1.2/requestBatchTransfer' \\\n--header 'Authorization: Bearer jMGNkI6ICZJRn1jvUGXUbN69t' \\\n--header 'Content-Type: application/json' \\\n--data-raw '{\n    \"batchTransferId\":\"batch_req_21\",\n    \"batchFormat\":\"BANK_ACCOUNT\",\n    \"deleteBene\": 0,\n    \"batch\": [\n        {\n            \"transferId\":\"TransferID1\",\n            \"amount\":\"10\",\n            \"bankAccount\":\"7766666351004\",\n            \"ifsc\":\"YESB0000001\",\n            \"phone\":\"9999999998\",\n            \"email\":\"test@gmail.com\",\n            \"name\": \"Transfer1\"\n        },\n{\n            \"transferId\":\"TransferID2\",\n            \"amount\":\"10\",\n            \"bankAccount\":\"7766666351004\",\n            \"ifsc\":\"YESB0000001\",\n            \"phone\":\"9999999998\",\n            \"email\":\"test@gmail.com\",\n            \"name\": \"Transfer2\"\n        }\n    ],\n    \"paymentInstrumentId\":\"IBL_CONNECTED\"\n}'\n\n\n"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/payout/v1.2/getTransferStatus": {
      "get": {
        "summary": "Get Transfer Status V1.2",
        "description": "Use these details to get details of a particular transfer. You can pass referenceId or transferId to fetch the details.",
        "operationId": "get-transfer-status-v1-21",
        "parameters": [
          {
            "name": "referenceId",
            "in": "query",
            "description": "Reference ID of the transaction. (Either referenceId or transferId is mandatory)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transferId",
            "in": "query",
            "description": "Transfer ID of the transaction.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer auth token",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_403"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_404_6"
                },
                "examples": {
                  "InvalidTransferId": {
                    "summary": "Invalid transferId",
                    "value": {
                      "status": "ERROR",
                      "subCode": "404",
                      "message": "transferId is invalid or does not exist"
                    }
                  },
                  "InvalidReferenceId": {
                    "summary": "Invalid referenceId",
                    "value": {
                      "status": "ERROR",
                      "subCode": "404",
                      "message": "referenceId is invalid or does not exist"
                    }
                  }
                }
              }
            }
          },
          "2XX": {
            "description": "Transfer details for different statuses",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_2XX"
                },
                "examples": {
                  "TransferSuccessful": {
                    "summary": "Transfer successful",
                    "value": {
                      "status": "SUCCESS",
                      "subCode": "200",
                      "message": "Details of transfer with referenceId 23457200",
                      "data": {
                        "transfer": {
                          "transferId": "javasdktesttransferid120793",
                          "bankAccount": 7766671501729,
                          "ifsc": "SBIN0000003",
                          "beneId": "johndoevalid983",
                          "amount": "1",
                          "status": "SUCCESS",
                          "utr": "0470445059841910",
                          "addedOn": "2021-11-24T13:39:25.000Z",
                          "processedOn": "2021-11-24T13:40:27.000Z",
                          "transferMode": "BANK",
                          "acknowledged": 1,
                          "phone": "9876543210",
                          "paymentInstrumentId": "CASHFREE_1"
                        }
                      }
                    }
                  },
                  "TransferPending": {
                    "summary": "Transfer pending",
                    "value": {
                      "status": "SUCCESS",
                      "subCode": "200",
                      "message": "Details of transfer with referenceId 403010",
                      "data": {
                        "transfer": {
                          "transferId": "test_transfer12",
                          "bankAccount": 1059323929,
                          "ifsc": "HDFC0000077",
                          "beneId": 72210855581636420000,
                          "amount": "20",
                          "status": "PENDING",
                          "addedOn": "2021-11-15T17:20:30.000Z",
                          "processedOn": "2021-11-15T17:20:30.000Z",
                          "transferMode": "BANK",
                          "acknowledged": 0,
                          "phone": "7221085558",
                          "paymentInstrumentId": "CASHFREE_1"
                        }
                      }
                    }
                  },
                  "TransferFailed": {
                    "summary": "Transfer failed",
                    "value": {
                      "status": "SUCCESS",
                      "subCode": "200",
                      "message": "Details of transfer with referenceId 411914",
                      "data": {
                        "transfer": {
                          "transferId": "async_test_869",
                          "beneId": "",
                          "amount": "1",
                          "status": "FAILED",
                          "addedOn": "2021-11-22T13:43:04.000Z",
                          "processedOn": "2021-11-22T13:43:05.000Z",
                          "reason": "INVALID_ACCOUNT_FAIL",
                          "transferMode": "PAYTM",
                          "acknowledged": 0,
                          "paymentInstrumentId": "CASHFREE_1"
                        }
                      }
                    }
                  },
                  "TransferRejected": {
                    "summary": "Transfer rejected",
                    "value": {
                      "status": "SUCCESS",
                      "subCode": "200",
                      "message": "Details of transfer with referenceId 23457123",
                      "data": {
                        "transfer": {
                          "transferId": "transfer_13",
                          "beneId": "",
                          "amount": "4.56",
                          "status": "REJECTED",
                          "addedOn": "2021-11-24T11:18:44.000Z",
                          "processedOn": "2021-11-24T11:18:44.000Z",
                          "reason": "BENEFICIARY_NOT_EXIST",
                          "transferMode": "BANK",
                          "acknowledged": 0,
                          "paymentInstrumentId": "CASHFREE_1"
                        }
                      }
                    }
                  },
                  "TransferReversed": {
                    "summary": "Transfer reversed",
                    "value": {
                      "status": "SUCCESS",
                      "subCode": "200",
                      "message": "Details of transfer with referenceId 403239",
                      "data": {
                        "transfer": {
                          "transferId": "test_transfer26",
                          "bankAccount": "02014457596969",
                          "ifsc": "CITI0000001",
                          "beneId": 75036302671636550000,
                          "amount": "3",
                          "status": "REVERSED",
                          "utr": "1637055017373632",
                          "addedOn": "2021-11-16T15:00:17.000Z",
                          "processedOn": "2021-11-16T15:01:17.000Z",
                          "reason": "ANY_OTHER_REASON",
                          "transferMode": "BANK",
                          "acknowledged": 0,
                          "phone": "7503630267",
                          "paymentInstrumentId": "CASHFREE_1"
                        }
                      }
                    }
                  },
                  "TransferReceived": {
                    "summary": "Transfer received",
                    "value": {
                      "status": "SUCCESS",
                      "subCode": "200",
                      "message": "Details of transfer with referenceId 402310",
                      "data": {
                        "transfer": {
                          "transferId": "transferBaas9899",
                          "beneId": "",
                          "amount": "1",
                          "status": "RECEIVED",
                          "addedOn": "2021-11-11T16:07:43.000Z",
                          "processedOn": "1899-11-30T00:00:00.000Z",
                          "transferMode": "BANK",
                          "acknowledged": 0,
                          "paymentInstrumentId": "CASHFREE_1"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl --location --request GET 'http://localhost:9188/payout/v1.2/getTransferStatus?transferId=Sample_test' \\\n--header 'Authorization: Bearer {{Token}}' \\\n--header 'Content-Type: application/json'"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/payout/v1.2/getBalance": {
      "get": {
        "summary": "Get Balance V1.2",
        "description": "Use this API to get the ledger balance and available balance of your account. Available balance is ledger balance minus the sum of all pending transfers (transfers triggered and processing or pending now).",
        "operationId": "get-balance-v1-21",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer auth token",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "paymentInstrumentId",
            "in": "query",
            "description": "Specify the fund source ID from where you want the amount to be debited.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_1"
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_403"
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_422_5"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl -X GET \\\n  https://{{Host%20Url}}payout/v1.2/getBalance \\\n  -H 'Authorization: Bearer {{Token}}\\"
            },
            {
              "language": "text",
              "code": "const cfSdk = require('cashfree-sdk');\nconst response = await cfSdk.Payouts.GetBalance();",
              "name": "Node"
            },
            {
              "language": "java",
              "code": "import com.cashfree.lib.clients.Payouts;\n\npublic static void main(){\n\nPayouts payouts = Payouts.getInstance(\n    Environment.PRODUCTION, \"<client_id>\", \"<client_secret>\");\npayouts.init();\npayouts.getBalance();\n\n}\n"
            },
            {
              "language": "python",
              "code": "from cashfree_sdk.payouts.transfers import Transfers\nb = Transfers.get_balance() "
            }
          ],
          "samples-languages": [
            "curl",
            "text",
            "java",
            "python"
          ]
        }
      }
    },
    "/payout/v1/incidents": {
      "get": {
        "summary": "Get Incidents",
        "description": "Use this API to get the list of incidents on banks(Resolved,Unresolved,All) for a given time range.",
        "operationId": "get-incident",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "Incident status - RESOLVED/UNRESOLVED/ALL are the allowed values Default value is UNRESOLVED if not provided",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startTime string",
            "in": "query",
[...]
